<?php

/**
 * Licentia Nuntius - Advanced Email Marketing Automation for Magento
 *
 * NOTICE OF LICENSE
 * This source file is subject to the Creative Commons Attribution-NonCommercial 4.0 International
 * It is available through the world-wide-web at this URL:
 * http://creativecommons.org/licenses/by-nc/4.0/
 *
 * @title      Advanced Email Marketing Automation
 * @category   Marketing
 * @package    Licentia
 * @author     Bento Vilas Boas <bento@licentia.pt>
 * @copyright  Copyright (c) 2012 Licentia - http://licentia.pt
 * @license    Creative Commons Attribution-NonCommercial 4.0 International
 */
?>

<?php
$url = $this->getUrl('nuntius/campaign/user', array('c' => Mage::registry('current_campaign')->getId()));
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
    <head>
<?php echo $this->getChildHtml('head') ?>
        <style type="text/css">
            html,body { height:100%; }
        </style>
    </head>
    <body id="html-body" style="background:#fff;">
        <div id="preview" class="cms-revision-preview">
            <div class="toolbar">
                <p class="switcher">
<?php echo $this->__('Subscriber Id:') ?>
                    <input type="text" id="subscriber_id" class="input-text">
                        <button onClick="document.getElementById('preview_iframe').src = '<?php echo $url ?>sid/'+$('subscriber_id').value;"><span>Preview</span></button>
                </p>
            </div>
            <iframe name="preview_iframe" src="<?php echo $url ?>" id="preview_iframe" frameborder="0"></iframe>
        </div>
        <div id="loading-mask" style="display:none">
            <p class="loader" id="loading_mask_loader"><img src="<?php echo $this->getSkinUrl('images/ajax-loader-tr.gif') ?>" alt="<?php echo Mage::helper('adminhtml')->__('Loading...') ?>"/><br/><?php echo Mage::helper('adminhtml')->__('Please wait...') ?></p>
        </div>
    </body>
</html>