
* {
    margin: 0;
    padding: 0;
}
body {
    background: url("../images/bkg_body.gif") repeat scroll 0 0 #F2F2F2;
    color: #444444;
    font: 13px/1.55 helvetica,sans-serif;
    text-align: center;
}
img {
    border: 0 none;
    vertical-align: top;
}
a {
    color: #4682B4;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
:focus {
    outline: 0 none;
}
h1 {
    font-size: 2em;
    font-weight: normal;
    line-height: 1.15;
}
h2 {
    font-size: 1.5em;
    line-height: 1.25;
    margin-bottom: 0.45em;
}
.main-container  h3, #product_tabs_description_contents h3 {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	border: 1px solid #DDDDDD;
	color: #333333;
	margin-bottom: 0.45em;
	padding: 9px 5px 5px;
}
h4 {
    font-size: 1.05em;
    line-height: 1.35;
    margin-bottom: 0.45em;
}
h5 {
    font-size: 1.05em;
    line-height: 1.35;
    margin-bottom: 0.45em;
}
h6 {
    font-size: 1em;
    line-height: 1.35;
    margin-bottom: 1em;
}
form {
    display: inline;
}
fieldset {
    border: 0 none;
}
legend {
    display: none;
}
table {
    border: 0 none;
    border-spacing: 0;
    empty-cells: show;
    font-size: 100%;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}
p {
    margin: 0 0 1em;
}
strong {
    font-weight: bold;
}
address {
    font-style: normal;
    line-height: 1.35;
}
cite {
    font-style: normal;
}
q, blockquote {
    quotes: none;
}
q:before, q:after {
    content: "";
}
small {
    font-size: 1em;
}
big {
    font-size: 1.15em;
}
ul, ol {
    list-style: none outside none;
}
.hidden {
    border: 0 none !important;
    display: block !important;
    font-size: 0 !important;
    height: 0 !important;
    line-height: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
    width: 0 !important;
}
.nobr {
    white-space: nowrap !important;
}
.wrap {
    white-space: normal !important;
}
.a-left {
    text-align: left !important;
}
.a-center {
    text-align: center !important;
}
.a-right {
    text-align: right !important;
}
.v-top {
    vertical-align: top;
}
.v-middle {
    vertical-align: middle;
}
.f-left, .left {
    float: left !important;
}
.f-right, .right {
    float: right !important;
}
.f-none {
    float: none !important;
}
.f-fix {
    float: left;
    width: 100%;
}
.no-display {
    display: none;
}
.no-margin {
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
.no-bg {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.wrapper {
}
.page {
    margin: 15px auto 0;
    text-align: left;
    width: 960px;
}
.page-print {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 25px 30px;
    text-align: left;
}
.page-empty {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 20px;
    text-align: left;
}
.page-popup {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 25px 30px;
    text-align: left;
}
.main-container {
}
.main {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #BBBBBB #666666;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    min-height: 350px;
    padding: 16px 16px 50px;
}
.col-left {
    float: left;
    padding: 0 0 1px;
    width: 220px;
}
.col-main {
    float: left;
    padding: 0 0 1px;
    width: 686px;
}
.col-right {
    float: right;
    padding: 0 0 1px;
    width: 220px;
}
.col1-layout .main {
    padding: 16px 30px 40px;
}
.col1-layout .col-main {
    float: none;
    width: auto;
}
.col2-left-layout .col-main {
    float: right;
}
.col2-right-layout .col-main {
}
.col3-layout .col-main {
    width: 452px;
}
.col3-layout .col-wrapper {
    float: left;
    width: 689px;
}
.col3-layout .col-wrapper .col-main {
    float: right;
}
.col2-set .col-1 {
    float: left;
    width: 48.5%;
}
.col2-set .col-2 {
    float: right;
    width: 48.5%;
}
.col2-set .col-narrow {
    width: 32%;
}
.col2-set .col-wide {
    width: 65%;
}
.col3-set .col-1 {
    float: left;
    width: 32%;
}
.col3-set .col-2 {
    float: left;
    margin-left: 2%;
    width: 32%;
}
.col3-set .col-3 {
    float: right;
    width: 32%;
}
.col4-set .col-1 {
    float: left;
    width: 23.5%;
}
.col4-set .col-2 {
    float: left;
    margin: 0 2%;
    width: 23.5%;
}
.col4-set .col-3 {
    float: left;
    width: 23.5%;
}
.col4-set .col-4 {
    float: right;
    width: 23.5%;
}
input, select, textarea, button {
    color: #2F2F2F;
    font: 12px/15px Arial,Helvetica,sans-serif;
    vertical-align: middle;
}
input.input-text, select, textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B6B6B6;
}
input.input-text, textarea {
    padding: 2px;
}
select {
    padding: 1px;
}
select option {
    padding-right: 10px;
}
select.multiselect option {
    border-bottom: 1px solid #B6B6B6;
    padding: 1px 5px;
}
select.multiselect option:last-child {
    border-bottom: 0 none;
}
textarea {
    overflow: auto;
}
input.radio {
    margin-right: 3px;
}
input.checkbox {
    margin-right: 3px;
}
input.qty {
    width: 2.5em !important;
}
button.button::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
button.button {
}
button.button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    padding: 0;
    width: auto;
}
button.button span {
    background: url("../images/bkg_btn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #555555;
    float: left;
    font: bold 11px/25px Tahoma,Verdana,Arial,sans-serif;
    height: 28px;
    padding: 0 0 0 6px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}
button.button span span {
    background-position: 100% 0;
    padding: 0 15px 0 9px;
}
button.disabled span {
    color: #BBBBBB !important;
}
button.btn-checkout span {
    background-image: url("../images/btn_checkout.gif");
    border: 0 none;
    color: #FFFFFF;
    font: bold 12px/26px Arial,Helvetica,sans-serif;
    height: 28px;
    padding: 0 0 0 6px;
}
button.btn-checkout span span {
    padding: 0 40px 0 34px;
}
button.btn-checkout.no-checkout span {
    background-position: 0 100%;
    color: #CFCFCF;
}
button.btn-checkout.no-checkout span span {
    background-position: 100% 100%;
}
p.control input.checkbox, p.control input.radio {
    margin-right: 6px;
}
.form-list li {
    margin: 0 0 6px;
}
.form-list label {
    color: #555555;
    float: left;
    font-weight: bold;
    position: relative;
    z-index: 0;
}
.form-list label.required {
}
.form-list label.required em {
    color: #EB340A;
    float: right;
    font-style: normal;
    position: absolute;
    right: -7px;
    top: 0;
}
.form-list li.control label {
    float: none;
}
.form-list li.control input.radio, .form-list li.control input.checkbox {
    margin-right: 4px;
    margin-top: -1px;
}
.form-list li.control .input-box {
    clear: none;
    display: inline;
    width: auto;
}
.form-list .input-box {
    clear: both;
    display: block;
    width: 260px;
}
.form-list .field {
    float: left;
    width: 275px;
}
.form-list input.input-text {
    width: 254px;
}
.form-list textarea {
    height: 10em;
    width: 254px;
}
.form-list select {
    width: 260px;
}
.form-list li.wide .input-box {
    width: 535px;
}
.form-list li.wide input.input-text {
    width: 529px;
}
.form-list li.wide textarea {
    width: 529px;
}
.form-list li.wide select {
    width: 535px;
}
.form-list li.additional-row {
    border-top: 1px solid #CCCCCC;
    margin-top: 10px;
    padding-top: 7px;
}
.form-list li.additional-row .btn-remove {
    float: right;
    margin: 5px 0 0;
}
.form-list .input-range input.input-text {
    width: 74px;
}
.form-list-narrow li {
    margin-bottom: 0;
}
.form-list-narrow li .input-box {
    margin-bottom: 6px;
}
.form-list-narrow li.wide .input-box {
    width: 260px;
}
.form-list-narrow li.wide input.input-text, .form-list-narrow li.wide textarea {
    width: 254px;
}
.form-list-narrow li.wide select {
    width: 260px;
}
.form-list .customer-name-prefix .input-box, .form-list .customer-name-suffix .input-box, .form-list .customer-name-prefix-suffix .input-box, .form-list .customer-name-prefix-middlename .input-box, .form-list .customer-name-middlename-suffix .input-box, .form-list .customer-name-prefix-middlename-suffix .input-box {
    width: auto;
}
.form-list .name-prefix {
    width: 65px;
}
.form-list .name-prefix select {
    width: 55px;
}
.form-list .name-prefix input.input-text {
    width: 49px;
}
.form-list .name-suffix {
    width: 65px;
}
.form-list .name-suffix select {
    width: 55px;
}
.form-list .name-suffix input.input-text {
    width: 49px;
}
.form-list .name-middlename {
    width: 70px;
}
.form-list .name-middlename input.input-text {
    width: 49px;
}
.form-list .customer-name-prefix-middlename-suffix .name-firstname, .form-list .customer-name-prefix-middlename .name-firstname {
    width: 140px;
}
.form-list .customer-name-prefix-middlename-suffix .name-firstname input.input-text, .form-list .customer-name-prefix-middlename .name-firstname input.input-text {
    width: 124px;
}
.form-list .customer-name-prefix-middlename-suffix .name-lastname {
    width: 205px;
}
.form-list .customer-name-prefix-middlename-suffix .name-lastname input.input-text {
    width: 189px;
}
.form-list .customer-name-prefix-suffix .name-firstname {
    width: 210px;
}
.form-list .customer-name-prefix-suffix .name-lastname {
    width: 205px;
}
.form-list .customer-name-prefix-suffix .name-firstname input.input-text, .form-list .customer-name-prefix-suffix .name-lastname input.input-text {
    width: 189px;
}
.form-list .customer-name-prefix-suffix .name-firstname {
    width: 210px;
}
.form-list .customer-name-prefix-suffix .name-lastname {
    width: 205px;
}
.form-list .customer-name-prefix-suffix .name-firstname input.input-text, .form-list .customer-name-prefix-suffix .name-lastname input.input-text {
    width: 189px;
}
.form-list .customer-name-prefix .name-firstname, .form-list .customer-name-middlename .name-firstname {
    width: 210px;
}
.form-list .customer-name-suffix .name-lastname, .form-list .customer-name-middlename .name-firstname, .form-list .customer-name-middlename-suffix .name-firstname, .form-list .customer-name-middlename-suffix .name-lastname {
    width: 205px;
}
.form-list .customer-name-prefix .name-firstname input.input-text, .form-list .customer-name-suffix .name-lastname input.input-text, .form-list .customer-name-middlename .name-firstname input.input-text, .form-list .customer-name-middlename-suffix .name-firstname input.input-text, .form-list .customer-name-middlename-suffix .name-lastname input.input-text {
    width: 189px;
}
.form-list .customer-dob .dob-month, .form-list .customer-dob .dob-day, .form-list .customer-dob .dob-year {
    float: left;
    width: 85px;
}
.form-list .customer-dob input.input-text {
    display: block;
    width: 74px;
}
.form-list .customer-dob label {
    color: #888888;
    font-size: 10px;
    font-weight: normal;
}
.form-list .customer-dob .dob-day, .form-list .customer-dob .dob-month {
    width: 60px;
}
.form-list .customer-dob .dob-day input.input-text, .form-list .customer-dob .dob-month input.input-text {
    width: 46px;
}
.form-list .customer-dob .dob-year {
    width: 140px;
}
.form-list .customer-dob .dob-year input.input-text {
    width: 134px;
}
.buttons-set {
    border-top: 1px solid #E4E4E4;
    clear: both;
    margin: 4em 0 0;
    padding: 8px 0 0;
    text-align: right;
}
.buttons-set p.required {
    margin: 0 0 10px;
}
.buttons-set .back-link {
    float: left;
    margin: 0;
}
.buttons-set button.button {
    float: right;
    margin-left: 5px;
}
.buttons-set-order {
    margin: 10px 0 0;
}
.buttons-set-order .please-wait {
    padding: 5px 7px 0 0;
}
.fieldset {
    margin: 0 10px 25px;
}
.fieldset .legend {
    background: none repeat scroll 0 0 #F1F1F1;
    font-size: 13px;
    line-height: 1.25;
    margin: 0 -10px 12px;
    padding: 2px 10px;
}
.validation-advice {
    background: url("../images/validation_advice_bg.gif") no-repeat scroll 2px 3px rgba(0, 0, 0, 0);
    clear: both;
    color: #EB340A;
    font-size: 11px;
    line-height: 13px;
    margin: 3px 0 0;
    min-height: 13px;
    padding-left: 13px;
}
.validation-failed {
    background: none repeat scroll 0 0 #FAEBE7 !important;
    border: 1px solid #EB340A !important;
}
.validation-passed {
}
p.required {
    color: #EB340A;
    font-size: 11px;
    text-align: right;
}
.v-fix {
    float: left;
}
.v-fix .validation-advice {
    display: block;
    margin-right: -12em;
    position: relative;
    width: 12em;
}
.success {
    color: #3D6611;
    font-weight: bold;
}
.error {
    color: #DF280A;
    font-weight: bold;
}
.notice {
    color: #E26703;
}
.messages, .messages ul {
    list-style: none outside none !important;
    margin: 0 !important;
    padding: 0 !important;
}
.messages {
    overflow: hidden;
    width: 100%;
}
.messages li {
    margin: 0 0 10px !important;
}
.messages li li {
    margin: 0 0 3px !important;
}
.error-msg, .success-msg, .note-msg, .notice-msg {
    border-style: solid !important;
    border-width: 1px !important;
    font-size: 11px !important;
    font-weight: bold !important;
    padding: 4px 12px !important;
}
.error-msg {
    background-color: #FAEBE7;
    border-color: #F16048;
    color: #DF280A;
}
.success-msg {
    background-color: #EFF5EA;
    border-color: #446423;
    color: #3D6611;
}
.note-msg, .notice-msg {
    background-color: #FAFAEC;
    border-color: #FCD344;
    color: #3D6611;
}
.breadcrumbs a {
    color: #7F7F7F;
}
.breadcrumbs li {
    display: inline;
}
.breadcrumbs li strong {
    font-weight: bold;
}
.page-title {
    margin: 0 0 16px;
    overflow: hidden;
    width: 100%;
}
.page-title h1, .page-title h2 {
    font-size: 23px;
    font-weight: normal;
}
.page-title .separator {
    margin: 0 3px;
}
.page-title .link-rss {
    float: right;
    margin: 7px 0 0;
}
.title-buttons {
    text-align: right;
}
.title-buttons h1, .title-buttons h2, .title-buttons h3, .title-buttons h4, .title-buttons h5, .title-buttons h6 {
    float: left;
}
.subtitle, .sub-title {
    clear: both;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 6px;
    padding: 12px 0 0;
}
.pager {
    background: url("../images/bkg_toolbar.gif") repeat-x scroll 0 100% #FFFFFF;
    border-top: 1px solid #DDDDDD;
    font-size: 11px;
    padding: 4px 8px;
    text-align: center;
}
.pager .amount {
    float: left;
    margin: 0;
}
.pager .limiter {
    float: right;
}
.pager .limiter label {
    vertical-align: middle;
}
.pager .limiter select {
    margin: 0 0 1px;
    padding: 0;
    vertical-align: middle;
}
.pager .pages {
    margin: 0 140px;
}
.pager .pages ol {
    display: inline;
}
.pager .pages li {
    display: inline;
    margin: 0 2px;
}
.pager .pages .current {
}
.sorter {
    background: url("../images/bkg_toolbar.gif") repeat-x scroll 0 100% #FFFFFF;
    border-top: 1px solid #DDDDDD;
    font-size: 11px;
    padding: 3px 8px;
}
.sorter .view-mode {
    float: left;
    margin: 0;
}
.sorter .sort-by {
    float: right;
    padding-right: 36px;
}
.sorter .sort-by label {
    vertical-align: middle;
}
.sorter .sort-by select {
    margin: 0 0 1px;
    padding: 0;
    vertical-align: middle;
}
.sorter .link-feed {
}
.toolbar {
}
.toolbar .pager {
    padding: 3px 8px;
}
.toolbar .sorter {
}
.toolbar-bottom {
}
.data-table {
    width: 100%;
}
.data-table tr.odd {
    background: none repeat scroll 0 0 #FFFFFF;
}
.data-table tr.even {
    background: none repeat scroll 0 0 #FCFCFC;
}
.data-table tr.last th, .data-table tr.last td {
    border-bottom: 0 none !important;
}
.data-table th {
    font-size: 10px;
    padding: 2px 8px;
    text-transform: uppercase;
    white-space: nowrap;
}
.data-table th.wrap {
    white-space: normal;
}
.data-table th a {
    color: #FFFFFF;
}
.data-table td {
    padding: 3px 8px;
}
.data-table thead, .data-table thead tr {
    background: none repeat scroll 0 0 #E9E9E9;
}
.data-table tfoot {
    border-bottom: 1px solid #D9DDE3;
}
.data-table tfoot tr {
    background-color: #F3F3F3 !important;
}
.data-table tbody th {
    font-size: 11px;
    font-weight: bold;
    padding: 3px 8px;
    text-transform: none;
    white-space: normal;
}
.data-table tbody th, .data-table tbody td {
    border-bottom: 1px solid #D9DDE3;
}
.data-table tfoot strong {
    font-size: 14px;
}
.data-table tbody.odd tr {
    background: none repeat scroll 0 0 #FFFFFF;
}
.data-table tbody.even tr {
    background: none repeat scroll 0 0 #FCFCFC;
}
.data-table tbody.odd tr td, .data-table tbody.even tr td {
    border-bottom: 0 none;
}
.data-table tbody.odd tr.border td, .data-table tbody.even tr.border td {
    border-bottom: 1px solid #D9DDE3;
}
.data-table tbody td .option-label {
    font-style: italic;
    font-weight: bold;
}
.data-table tbody td .option-value {
    padding-left: 10px;
}
.info-box {
    margin: 0 0 15px;
}
.info-box h2 {
    border-bottom: 1px solid #DDDDDD;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 8px;
}
.info-table th {
    font-weight: bold;
    padding: 2px 15px 2px 0;
}
.info-table td {
    padding: 2px 0;
}
tr.summary-total {
    cursor: pointer;
}
tr.summary-total td {
}
tr.summary-total .summary-collapse {
    background: url("../images/bkg_collapse.gif") no-repeat scroll 0 4px rgba(0, 0, 0, 0);
    cursor: pointer;
    float: right;
    padding-left: 20px;
    text-align: right;
}
tr.show-details .summary-collapse {
    background-position: 0 -53px;
}
tr.show-details td {
}
tr.summary-details td {
    background-color: #DAE1E4;
    color: #626465;
}
tr.summary-details-first td {
    border-top: 1px solid #D2D8DB;
}
tr.summary-details-excluded {
    font-style: italic;
}
.cart-tax-info {
    display: block;
}
.cart-tax-info, .cart-tax-info .cart-price {
    padding-right: 20px;
}
.cart-tax-total {
    background: url("../images/bkg_collapse.gif") no-repeat scroll 100% 4px rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    padding-right: 20px;
}
.cart-tax-info .price, .cart-tax-total .price {
    display: inline !important;
    font-weight: normal !important;
}
.cart-tax-total-expanded {
    background-position: 100% -53px;
}
.std .subtitle {
    padding: 0;
}
.std ol.ol {
    list-style: decimal outside none;
    padding-left: 1.5em;
}
.std ul.disc {
    list-style: disc outside none;
    margin: 0 0 10px;
    padding-left: 18px;
}
.std dl dt {
    font-weight: bold;
}
.std dl dd {
    margin: 0 0 10px;
}
.std ul, .std ol, .std dl, .std p, .std address, .std blockquote {
    margin: 0 0 1em;
    padding: 0;
}
.std ul {
    list-style: disc outside none;
    padding-left: 1.5em;
}
.std ol {
    list-style: decimal outside none;
    padding-left: 1.5em;
}
.std ul ul {
    list-style-type: circle;
}
.std ul ul, .std ol ol, .std ul ol, .std ol ul {
    margin: 0.5em 0;
}
.std dt {
    font-weight: bold;
}
.std dd {
    padding: 0 0 0 1.5em;
}
.std blockquote {
    font-style: italic;
    padding: 0 0 0 1.5em;
}
.std address {
    font-style: normal;
}
.std b, .std strong {
    font-weight: bold;
}
.std i, .std em {
    font-style: italic;
}
.links li {
    display: inline;
}
.links li.first {
    padding-left: 0 !important;
}
.links li.last {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    padding-right: 0 !important;
}
.link-cart {
    color: #D62502;
    font-weight: bold;
}
.link-wishlist {
    color: #444444;
}
.link-reorder {
}
.link-compare {
}
.link-print {
}
.link-rss {
    background: url("../images/i_rss.gif") no-repeat scroll 0 1px rgba(0, 0, 0, 0);
    line-height: 14px;
    padding-left: 18px;
    white-space: nowrap;
}
.btn-remove {
    background: url("../images/btn_remove.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    font-size: 0;
    height: 12px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 12px;
}
.btn-previous {
    background: url("../images/btn_previous.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    font-size: 0;
    height: 12px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 12px;
}
.btn-remove2 {
    background: url("../images/btn_trash.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    font-size: 0;
    height: 16px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 16px;
}
.btn-edit {
    background: url("../images/btn_edit.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    font-size: 0;
    height: 12px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 12px;
}
.cards-list dt {
    margin: 5px 0 0;
}
.cards-list .offset {
    padding: 2px 0 2px 20px;
}
.separator {
    margin: 0 3px;
}
.divider {
    background: none repeat scroll 0 0 #CCCCCC;
    clear: both;
    display: block;
    font-size: 0;
    height: 1px;
    line-height: 0;
    margin: 10px 0;
    overflow: hidden;
    text-indent: -999em;
}
.global-site-notice {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFF90;
    border-color: #CFCFCF;
    border-image: none;
    border-style: solid;
    border-width: 0 0 1px;
    color: #2F2F2F;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
}
.global-site-notice .notice-inner {
    background: url("../images/i_notice.gif") no-repeat scroll 20px 25px rgba(0, 0, 0, 0);
    margin: 0 auto;
    padding: 12px 0 12px 80px;
    text-align: left;
    width: 860px;
}
.global-site-notice .notice-inner p {
    border: 1px dotted #CCCC73;
    margin: 0;
    padding: 10px;
}
.global-site-notice .notice-inner .actions {
    padding-top: 10px;
}
.notice-cookie {
}
.noscript {
}
.demo-notice {
    background: none repeat scroll 0 0 #D75F07;
    border: 0 none;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 1.15;
    margin: 0;
    padding: 6px 10px;
    text-align: center;
}
.demo-notice .notice-inner {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 0;
    text-align: center;
    width: auto;
}
.demo-notice .notice-inner p {
    border: 0 none;
    padding: 0;
}
.logo {
    float: left;
}
.header-container {
}
.header {
    margin: 0 0 5px;
}
.header .logo {
    float: left;
    text-decoration: none !important;
}
.header .logo strong {
    font-size: 0;
    height: 0;
    left: -999em;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -999em;
    top: -999em;
    width: 0;
}
.header .top-promo {
    background: url("../images/bkg_top-promo.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 30px;
    margin: 12px 10px 0;
    overflow: hidden;
    text-indent: -999em;
    width: 117px;
}
.quick-access {
    background: none repeat scroll 0 0 #444444;
    color: #FFFFFF;
    padding: 7px 13px;
    text-align: right;
}
.quick-access .welcome-msg {
    color: #FFFFFF;
    display: inline;
    margin: 0;
}
.quick-access .welcome-msg a {
    color: #DDDDDD;
}
.quick-access .form-language {
    float: left;
}
.quick-access .form-language label {
    color: #FFFFFF;
    font-weight: bold;
    padding-right: 5px;
    vertical-align: middle;
}
.quick-access .form-language select {
    padding: 0;
}
.quick-access .form-language select.flags option {
    background-position: 4px 50%;
    background-repeat: no-repeat;
    padding-left: 25px;
}
.quick-access .links {
    padding-left: 8px;
}
.quick-access .links, .quick-access .links li {
    display: inline;
}
.quick-access .links li {
    padding: 0 4px 0 1px;
}
.quick-access .links a {
    color: #DDDDDD;
}
.quick-access .links a {
    background: url("../images/bkg_pipe1.gif") no-repeat scroll 100% 50% rgba(0, 0, 0, 0);
    padding: 0 7px 0 0;
}
.quick-access .links li.last a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 0;
}
.top-bar {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #EFEFEF;
    border-color: #BBBBBB #BBBBBB #DEDEDE;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    line-height: 21px;
    padding: 3px 12px 2px;
}
.top-bar .breadcrumbs {
    float: left;
    overflow: hidden;
    width: 580px;
}
.form-search {
    float: right;
}
.form-search label {
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px 0 0;
}
.form-search input.input-text {
    float: left;
    margin-right: 5px;
    width: 212px;
}
.form-search button.button {
    float: left;
}
.form-search button.button span {
    background-image: url("../images/bkg_btn-small.png");
    height: 23px;
    line-height: 21px;
}
.form-search .search-autocomplete {
    z-index: 999;
}
.form-search .search-autocomplete ul {
    background-color: #F9F5F0;
    border: 1px solid #999999;
}
.form-search .search-autocomplete li {
    border-bottom: 1px solid #F4EEE7;
    cursor: pointer;
    padding: 2px 8px 1px;
    text-align: left;
}
.form-search .search-autocomplete li .amount {
    float: right;
    font-weight: bold;
}
.form-search .search-autocomplete li.odd {
    background-color: #F6F6F6;
}
.form-search .search-autocomplete li.selected {
    background-color: #ECF9EA;
}
.header-container .top-container {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #BBBBBB;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 5px 12px;
    text-align: right;
}
.nav-container {
}
#nav {
    float: left;
    font-size: 12px;
    margin: 15px 0 0 15px;
}
#nav li {
    position: relative;
    text-align: left;
    text-transform: uppercase;
}
#nav li.over {
    z-index: 998;
}
#nav a, #nav a:hover {
    display: block;
    line-height: 1.3em;
    text-decoration: none;
}
#nav span {
    cursor: pointer;
    display: block;
    white-space: nowrap;
}
#nav li ul span {
    white-space: normal;
}
#nav li {
    float: left;
    margin: 1px 8px 11px 1px;
    padding: 3px 8px;
}
#nav li.active a {
    color: #444444;
}
#nav a {
    background: url("../images/bkg_nav_top.gif") no-repeat scroll 100% 50% rgba(0, 0, 0, 0);
    color: #444444;
    float: left;
    font-weight: bold;
    padding-right: 11px;
}
#nav li.over a, #nav a:hover {
    color: #444444;
}
#nav li.over, #nav li.active {
    background: none repeat scroll 0 0 #ECECEC;
    border: 1px solid #BBBBBB;
    margin: 0 7px 10px 0;
}
#nav ul li, #nav ul li.active, #nav ul li.over {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    float: none;
    margin: 0;
    padding: 0 0 1px;
    text-transform: none;
}
#nav ul li.parent {
    background: url("../images/bkg_nav_parent.gif") no-repeat scroll 100% 50% rgba(0, 0, 0, 0);
}
#nav ul li.last {
    padding-bottom: 0;
}
#nav ul li.active {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    margin: 0;
}
#nav ul a, #nav ul a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: none;
    padding: 0;
}
#nav ul li a {
    font-weight: normal !important;
}
#nav ul, #nav div {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FCFCFC;
    border-color: #BBBBBB #BBBBBB #999999;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 2px;
    font-size: 11px;
    left: -10000px;
    padding: 3px 8px;
    position: absolute;
    top: 22px;
    width: 15em;
}
#nav div ul {
    border: medium none;
    padding: 0;
    position: static;
    width: auto;
}
#nav ul ul, #nav ul div {
    top: 5px;
}
#nav ul li a {
    color: #444444 !important;
    padding: 3px 0;
}
#nav ul li a:hover {
    color: #5A7F00 !important;
    padding: 3px 0;
}
#nav li ul.shown-sub, #nav li div.shown-sub {
    left: -1px;
    z-index: 999;
}
#nav li .shown-sub ul.shown-sub, #nav li .shown-sub li div.shown-sub {
    left: 100px;
}
.block {
    border: 1px solid #DDDDDD;
    line-height: 1.35;
    margin: 0 0 20px;
}
.block .block-title {
    background: none repeat scroll 0 0 #E7E7E7;
    border-bottom: 1px solid #DDDDDD;
    padding: 2px 10px;
}
.block .block-title strong {
    color: #444444;
    display: block;
    font: bold 12px/1.5 Arial,Helvetica,sans-serif;
    text-transform: uppercase;
}
.block .block-title strong span {
}
.block .block-title a {
    text-decoration: none !important;
}
.block .block-subtitle {
    border-bottom: 1px solid #DDDDDD;
    font-size: 10px;
    margin: 0 0 10px;
    padding: 0 0 2px;
    text-transform: uppercase;
}
.block .block-content {
    background: none repeat scroll 0 0 #F6F6F6;
    padding: 12px 10px;
}
.block .block-content li.item {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.block .block-content li.item.last {
    border-bottom: 0 none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.block .block-content .product-name {
    color: #4F8100;
}
.block .btn-remove, .block .btn-edit {
    float: right;
    margin: 1px 0 2px 5px;
}
.block .actions {
    border-top: 1px solid #DDDDDD;
    margin: 5px 0 0;
    padding: 5px 0 0;
    text-align: right;
}
.block .actions a {
    float: left;
}
.block .actions button.button {
    float: right;
}
.block .empty {
    margin: 0;
}
.block .price-box {
    margin: 5px 0;
}
.block button.button span {
    background-image: url("../images/bkg_btn-small.png");
    height: 23px;
    line-height: 20px;
}
.mini-products-list .product-image {
    border: 1px solid #A9A9A9;
    float: left;
    width: 50px;
}
.mini-products-list .product-details {
    margin-left: 60px;
}
.block-cart .mini-products-list .product-details .product-name, .block-cart .mini-products-list .product-details .nobr small {
    word-wrap: break-word;
}
.block-cart .mini-products-list .product-details .nobr {
    white-space: normal !important;
}
.block-account .block-title {
    background: none repeat scroll 0 0 #666666;
    border: 0 none;
}
.block-account .block-title strong {
    color: #FFFFFF;
}
.block-account .block-content li a {
    border-bottom: 1px solid #DDDDDD;
    color: #5F5D5C;
    display: block;
    padding: 3px 0;
    text-decoration: none !important;
}
.block-account .block-content li a:hover {
    color: #444444;
}
.block-account .block-content li.last a {
    border-bottom: 0 none;
}
.block-account .block-content li.current {
    border-bottom: 1px solid #DDDDDD;
    padding: 3px 0;
}
.block-account .block-content li.current.last {
    border-bottom: 0 none;
}
.block-currency {
   background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    clear: right;
    float: right;
    margin: -3px 0 0;
    padding: 0;
    width: 150px;
}
.block-currency .block-title {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    padding: 7px 10px 2px;
    text-transform: none;
}
.block-currency .block-title strong {
    text-transform: none;
}
.block-currency .block-content {
    padding: 5px;
}
.block-currency .block-content select {
    padding: 0;
    width: 100%;
}
.block-layered-nav {
    border: 0 none;
}
.block-layered-nav .block-title {
    background: url("../images/bkg_block-layered-title.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    height: 13px;
    margin: 0 0 6px;
    overflow: hidden;
    padding: 0;
    text-indent: -999em;
}
.block-layered-nav .block-content {
    padding: 0;
}
.block-layered-nav .block-subtitle {
    background: none repeat scroll 0 0 #679100;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 2px 10px;
}
.block-layered-nav dt {
    border-top: 1px solid #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 10px 0;
}
.block-layered-nav dd {
    border-bottom: 1px solid #DDDDDD;
    padding: 0 10px 8px;
}
.block-layered-nav dd li {
    line-height: 1.35;
    margin: 0 0 3px;
}
.block-layered-nav dd a {
    color: #444444;
}
.block-layered-nav .currently ol {
    padding: 6px 0 0;
}
.block-layered-nav .currently li {
    padding: 2px 36px 2px 10px;
    position: relative;
    z-index: 1;
}
.block-layered-nav .currently .label {
    display: inline-block;
    font-weight: bold;
    vertical-align: top;
}
.block-layered-nav .currently .value {
    display: inline-block;
    vertical-align: top;
}
.block-layered-nav .currently .btn-previous, .block-layered-nav .currently .btn-remove {
    margin: 0;
    position: absolute;
    right: 8px;
    top: 3px;
}
.block-layered-nav .currently .btn-previous {
    right: 22px;
}
.block-layered-nav .actions {
    margin: 0;
    padding: 5px 10px;
}
.block-layered-nav .actions a {
    float: none;
}
.block-cart .block-title {
    background: none repeat scroll 0 0 #679100;
}
.block-cart .block-title strong {
    color: #FFFFFF;
}
.block-cart .summary {
    background: none repeat scroll 0 0 #E5EED6;
    margin: -12px -10px 8px;
    padding: 8px;
    position: relative;
    text-align: center;
    z-index: 1;
}
.block-cart .amount {
    margin: 0;
}
.block-cart .amount a {
    font-weight: bold;
}
.block-cart .subtotal {
    background: url("../images/bkg_subtotal.gif") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    line-height: 23px;
    margin: 5px 0 0;
}
.block-cart .subtotal .price {
    font-weight: bold;
}
.block-cart .actions {
    display: none !important;
}
.block-cart .actions .paypal-logo {
    float: left;
    margin: 3px 0 0;
    text-align: right;
    width: 100%;
}
.block-wishlist .actions {
    text-align: right;
}
.block-wishlist .actions a {
    float: none;
}
.block-related .block-subtitle {
    border: 0 none;
    font-size: 11px;
    font-weight: bold;
    margin: 0 0 8px;
    padding: 0;
    text-transform: none;
}
.block-related input.checkbox {
    float: right;
}
.block-related .product {
    margin-right: 20px;
}
.page-popup .link-print {
    background: url("../images/i_print.gif") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
    padding: 3px 0 3px 25px;
}
.compare-table {
    border: 0 none;
}
.compare-table thead, .compare-table thead tr.first {
    background: none repeat scroll 0 0 #FFFFFF;
}
.compare-table thead tr.first th, .compare-table thead tr.first td {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    font-size: 0;
    line-height: 0;
    padding: 0 0 4px;
}
.compare-table .btn-remove {
    background-image: url("../images/btn_remove.gif");
    float: right;
    height: 12px;
    width: 12px;
}
.compare-table tbody th {
    background: none repeat scroll 0 0 #E9E9E9;
}
.compare-table tbody th, .compare-table tbody td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC -moz-use-text-color -moz-use-text-color #CCCCCC;
    border-image: none;
    border-style: solid none none solid;
    border-width: 1px 0 0 1px;
    padding: 10px;
}
.compare-table tbody td.last {
    border-right: 1px solid #CCCCCC;
}
.compare-table tbody tr.last th, .compare-table tbody tr.last td {
    border-bottom: 1px solid #CCCCCC !important;
}
.compare-table tr.add-to-row td {
    background: none repeat scroll 0 0 #FFFADA;
    text-align: center;
}
.compare-table tr.first td {
    text-align: center;
}
.compare-table tr.first td .product-name {
    color: #203548;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 5px;
}
.compare-table tr.first td .product-name a {
    color: #203548;
}
.compare-table tr.first td .ratings {
    margin: 0 auto;
    width: 69px;
}
.compare-table tr.first td p, .compare-table tr.add-to-row td p {
    margin: 0;
}
.compare-table .add-to-links li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 0;
}
.block-viewed {
}
.block-compared {
}
.block-poll .block-subtitle {
    font-size: 12px;
}
.block-poll label {
    color: #777777;
    font-weight: bold;
}
.block-poll input.radio {
    float: left;
    margin: 1px -18px 0 0;
}
.block-poll .label {
    display: block;
    margin-left: 18px;
}
.block-poll li {
    padding: 3px 9px;
}
.block-poll .actions {
    margin: 5px 0 0;
}
.block-poll .answer {
    font-weight: bold;
}
.block-poll .votes {
    float: right;
    margin-left: 10px;
}
.block-tags .block-content .tags-list {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    padding: 0;
}
.block-tags .block-content li a {
    color: #444444;
}
.block-tags .actions {
    text-align: right;
}
.block-tags .actions a {
    float: none;
}
.block-reorder input.checkbox {
    float: left;
    margin: 2px -20px 0 0;
}
.block-reorder .product-name {
    margin-left: 20px;
}
.block-reorder .validation-advice {
    margin: 3px 9px 7px;
}
.block-banner {
    border: 0 none;
}
.block-banner .block-content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 0;
    text-align: center;
}
.block-login .block-content {
    padding: 5px 10px;
}
.block-login label {
    color: #555555;
    font-weight: bold;
}
.block-login input.input-text {
    display: block;
    margin: 3px 0;
    width: 167px;
}
.block-login .actions {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 3px 0 0;
    padding: 0;
}
.sidebar .paypal-logo {
    display: block;
    margin: 10px 0;
    text-align: center;
}
.sidebar .paypal-logo a {
    float: none;
}
.category-title {
    margin: 0 0 7px;
}
.category-title h1 {
    color: #5B9400;
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1.25;
    padding: 3px 0;
}
.category-image {
    margin: 0 0 10px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.category-image img {
}
.category-description {
    margin: 0 0 10px;
}
.category-products {
}
.products-grid {
    position: relative;
}
.products-grid.last {
    border-bottom: 0 none;
}
.products-grid li.item {
    float: left;
    padding: 0 0 90px;
    width: 171px;
}
.products-grid .product-image {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    display: block;
    height: 170px;
    margin: 0 0 10px;
    width: 170px;
}
.products-grid.first .product-image {
    border-top: 0 none;
}
.products-grid li.last .product-image {
    border-right: 0 none;
}
.products-grid .product-name {
    font-size: 12px;
    margin: 0 0 6px;
}
.products-grid .product-name a {
    color: #444444;
    text-decoration: underline;
}
.products-grid .product-name a:hover {
    text-decoration: none;
}
.products-grid .price-box {
    margin: 5px 0;
}
.products-grid .availability {
    line-height: 21px;
}
.products-grid .actions {
    bottom: 20px;
    position: absolute;
}
.col2-left-layout .products-grid, .col2-right-layout .products-grid {
    margin: 0 auto;
    width: 684px;
}
.col1-layout .products-grid, .page-empty .products-grid {
    margin: 0 auto;
    width: 684px;
}
.products-list li.item {
    border-bottom: 1px solid #D9DDD3;
    padding: 12px 10px;
}
.products-list li.item.last {
    border-bottom: 0 none;
}
.products-list .product-shop {
    margin-left: 185px;
}
.products-list .product-image {
    float: left;
    height: 170px;
    margin: 0 0 10px;
    width: 170px;
}
.products-list .product-name {
    font-size: 12px;
    margin: 0 0 6px;
}
.products-list .product-name a {
    color: #444444;
    text-decoration: underline;
}
.products-list .product-name a:hover {
    text-decoration: none;
}
.products-list .price-box {
    float: left;
    margin: 4px 13px 0 0;
}
.products-list .availability {
    float: left;
    margin: 3px 0 0;
}
.products-list .desc {
    clear: both;
    line-height: 1.35;
    margin: 0 0 13px;
    padding: 6px 0 0;
}
.products-list .add-to-links {
    clear: both;
}
.no-rating {
    margin: 0;
}
.ratings {
    line-height: 1.25;
    margin: 7px 0;
}
.ratings strong {
    float: left;
    margin: 0 3px 0 0;
}
.ratings .rating-links {
    margin: 0;
}
.ratings .rating-links .separator {
    margin: 0 2px;
}
.ratings dt {
}
.ratings dd {
}
.rating-box {
    background: url("../images/bkg_rating.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 0;
    height: 10px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 50px;
}
.rating-box .rating {
    background: url("../images/bkg_rating.gif") repeat-x scroll 0 100% rgba(0, 0, 0, 0);
    float: left;
    height: 10px;
}
.ratings .rating-box {
    float: left;
    margin: 2px 3px 0 0;
}
.ratings .amount {
}
.ratings-table th, .ratings-table td {
    font-size: 11px;
    line-height: 1.15;
    padding: 3px 0;
}
.ratings-table th {
    font-weight: bold;
    padding-right: 8px;
}
.ratings-table td {
    padding: 4px 0 0;
}
.availability {
    margin: 0;
}
.availability span {
    font-weight: bold;
}
.availability.in-stock span {
}
.availability.out-of-stock span {
    color: #D83820;
}
.availability-only {
    background: url("../images/i_availability_only.gif") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
    line-height: 16px;
    margin: 10px 0 7px;
    padding-left: 15px;
}
.availability-only span, .availability-only a {
    border-bottom: 1px dashed #751D02;
    color: #000000;
}
.availability-only a {
    background: url("../images/i_availability_only_arrow.gif") no-repeat scroll 100% 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    padding-right: 15px;
    text-decoration: none;
}
.availability-only .expanded {
    background-position: 100% -15px;
}
.availability-only strong {
    color: #BE2C00;
}
.availability-only-details {
    margin: 0 0 7px;
}
.availability-only-details th {
    background: none repeat scroll 0 0 #E9E9E9;
    font-size: 10px;
    padding: 0 8px;
}
.availability-only-details td {
    border-bottom: 1px solid #D9DDE3;
    font-size: 11px;
    padding: 2px 8px 1px;
}
.availability-only-details tr.odd {
    background: none repeat scroll 0 0 #FFFFFF;
}
.availability-only-details tr.even {
    background: none repeat scroll 0 0 #FCFCFC;
}
.availability-only-details tr.odd td.last {
    color: #396F00;
    font-weight: bold;
}
.availability-only-details tr.last td {
    border-bottom: medium none;
}
.product-view .product-shop .availability {
    font-size: 11px;
}
.product-view .product-shop .availability span {
    font-weight: normal;
}
.email-friend {
    margin: 0;
}
.alert-price {
    font-size: 11px;
    margin: 0;
}
.alert-stock {
    font-size: 11px;
    margin: 0;
}
.price {
    white-space: nowrap !important;
}
.price-box {
    margin: 5px 0 10px;
}
.price-box .price {
    color: #396F00;
    font-size: 13px;
    font-weight: bold;
}
.regular-price {
    color: #396F00;
}
.regular-price .price {
    color: #4682B4;
    font-size: 20px;
    font-weight: bold;
}
.old-price {
    margin: 0;
}
.old-price .price-label {
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
}
.old-price .price {
    color: #396F00;
    font-size: 13px;
    font-weight: bold;
    text-decoration: line-through;
}
.special-price {
    margin: 0;
}
.special-price .price-label {
    color: #000000;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}
.special-price .price {
    font-size: 13px;
    font-weight: bold;
}
.minimal-price {
    margin: 0;
}
.minimal-price .price-label {
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
}
.minimal-price-link {
    color: #444444;
    display: block;
    font-size: 12px;
    text-decoration: underline;
}
.minimal-price-link .label {
    color: #444444;
}
.minimal-price-link .price {
    color: #444444;
    font-weight: normal;
}
.price-including-tax {
    color: #888888;
    display: block;
}
.price-including-tax .label {
    color: #888888;
    font-size: 10px;
    text-transform: uppercase;
    white-space: nowrap;
}
.price-including-tax .price {
    color: #396F00;
    font-size: 13px;
    font-weight: bold;
}
.price-excluding-tax {
    color: #888888;
    display: block;
}
.price-excluding-tax .label {
    color: #888888;
    font-size: 10px;
    text-transform: uppercase;
    white-space: nowrap;
}
.price-excluding-tax .price {
    color: #396F00;
    font-size: 12px;
    font-weight: normal;
}
.configured-price {
    margin: 0;
}
.configured-price .price-label {
    font-weight: bold;
    white-space: nowrap;
}
.configured-price .price {
    font-size: 13px;
    font-weight: bold;
}
.price-incl-tax {
    display: block;
}
.price-incl-tax .label {
    display: block;
    white-space: nowrap;
}
.price-incl-tax .price {
    display: block;
    font-weight: bold;
}
.price-excl-tax {
    display: block;
}
.price-excl-tax .label {
    display: block;
    white-space: nowrap;
}
.price-excl-tax .price {
    display: block;
    font-weight: normal;
}
.weee {
    color: #444444;
    display: block;
    font-size: 11px;
}
.weee .price {
    font-size: 11px;
    font-weight: normal;
}
.price-from {
    margin: 0;
}
.price-from .price-label {
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
}
.price-to {
    margin: 0;
}
.price-to .price-label {
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
}
.price-notice {
    padding-left: 7px;
}
.price-notice .price {
    font-weight: bold;
}
.price-as-configured {
    margin: 0;
}
.price-as-configured .price-label {
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}
.price-box-bundle {
    padding: 0 0 10px;
}
.price-box-bundle .price-box {
    margin: 0 !important;
    padding: 0 !important;
}
.price-box-bundle .price {
    color: #222222;
}
.product-pricing, .tier-prices {
    background: none repeat scroll 0 0 #F4F9EA;
    border: 1px solid #DDDDDD;
    margin: 10px 0;
    padding: 10px;
}
.tier-prices .benefit {
    font-style: italic;
    font-weight: bold;
}
.tier-prices .price {
    font-weight: bold;
}
.tier-prices-grouped li .price {
    font-weight: bold;
}
.add-to-links {
    margin: 3px 0 0;
}
.add-to-links li {
    background: url("../images/bkg_add-to.gif") no-repeat scroll 2px 50% rgba(0, 0, 0, 0);
    line-height: 1.25;
    padding-left: 12px;
}
.add-to-links li a {
    color: #444444;
}
.add-to-links .separator {
    display: none;
}
.add-to-cart label {
    color: #555555;
    float: left;
    font-weight: bold;
    line-height: 20px;
    margin-right: 5px;
}
.add-to-cart .qty {
    float: left;
    margin-right: 5px;
}
.add-to-cart button.button {
    float: left;
    margin: -3px 0 0;
}
.add-to-cart .paypal-logo {
    clear: left;
    margin: 0;
    text-align: right;
}
.add-to-cart .paypal-logo .paypal-or {
    clear: both;
    display: block;
    margin: 5px 60px 5px 0;
}
.add-to-box {
    margin: 10px 0;
}
.add-to-box .add-to-cart {
    background-color: #F8F8F8;
    border: 1px solid #EEEEEE;
    margin: 10px 0;
    padding: 10px;
    text-align: right;
}
.add-to-box .add-to-cart .paypal-logo {
    float: left;
}
.add-to-box .or {
    display: none !important;
}
.add-to-box .add-to-links {
    margin: 10px 0;
    text-align: right;
}
.add-to-box .add-to-links li .separator {
    display: none !important;
}
.product-view {
}
.product-essential {
    padding: 0 0 25px;
}
.product-essential h2 {
    font: bold 12px/1.25 Arial,Helvetica,sans-serif;
}
.product-collateral {
}
.product-collateral h2 {
    font-size: 19px;
    font-weight: normal;
    line-height: 1.15;
}
.product-collateral .box-collateral {
}
.product-view .product-img-box {
    float: left;
    width: 302px;
}
.col3-layout .product-view .product-img-box {
    float: none;
    margin: 0 auto;
}
.product-view .product-img-box .product-image {
    border: 1px solid #CACACA;
    margin: 0 0 10px;
}
.product-view .product-img-box .product-image-zoom {
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 300px;
    z-index: 9;
}
.product-view .product-img-box .product-image-zoom img {
    cursor: move;
    left: 0;
    position: absolute;
    top: 0;
}
.product-view .product-img-box .zoom-notice {
    margin: 0 0 10px;
    text-align: center;
}
.product-view .product-img-box .zoom {
    background: url("../images/slider_bg.gif") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 24px;
    margin: 0 auto 13px;
    padding: 0 28px;
    position: relative;
    z-index: 9;
}
.product-view .product-img-box .zoom.disabled {
    opacity: 0.3;
}
.product-view .product-img-box .zoom #track {
    height: 18px;
    position: relative;
}
.product-view .product-img-box .zoom #handle {
    background: url("../images/magnifier_handle.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 18px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 9px;
}
.product-view .product-img-box .zoom .btn-zoom-out {
    left: 10px;
    position: absolute;
    top: 7px;
}
.product-view .product-img-box .zoom .btn-zoom-in {
    position: absolute;
    right: 10px;
    top: 7px;
}
.product-view .product-img-box .more-views h2 {
    border-bottom: 1px solid #CCCCCC;
    font-size: 10px;
    font-weight: normal;
    margin: 0 0 8px;
    padding: 0 0 2px;
    text-transform: uppercase;
}
.product-view .product-img-box .more-views ul {
    margin-left: -10px;
}
.product-view .product-img-box .more-views li {
    float: left;
    margin: 0 0 8px 10px;
}
.product-view .product-img-box .more-views li a {
    border: 1px solid #DDDDDD;
    float: left;
    height: 66px;
    overflow: hidden;
    width: 66px;
}
.product-image-popup {
    margin: 0 auto;
}
.product-image-popup .buttons-set {
    border: 0 none;
    clear: none;
    float: right;
    margin: 0;
    padding: 0;
}
.product-image-popup .nav {
    font-weight: bold;
    margin: 0 100px;
    text-align: center;
}
.product-image-popup .image {
    display: block;
    margin: 10px 0;
}
.product-image-popup .image-label {
    color: #2F2F2F;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 10px;
}
.product-view .product-shop {
    float: right;
    width: 363px;
}
.col1-layout .product-view .product-shop {
    float: right;
    width: 576px;
}
.col3-layout .product-view .product-shop {
    float: none;
    width: auto;
}
.product-view .product-shop .product-name {
    margin: 0 0 5px;
}
.product-view .product-shop .product-name h1 {
    font: bold 28px/1.25 Arial,Helvetica,sans-serif;
}
.product-view .product-shop .availability {
    margin: 10px 0;
}
.product-view .product-shop .short-description {
    margin: 10px 0;
}
.product-view .product-shop .price-box {
    margin: 10px 0;
}
.product-view .product-shop .add-to-links {
    margin: 0;
}
.product-view .product-shop .add-to-links {
    display: none;
    text-align: right;
}
.product-view .product-shop .add-to-links li {
    display: inline;
    margin-left: 12px;
}
.product-view .product-shop .add-to-links li .separator {
    display: none !important;
}
.product-view .product-shop .product-options-bottom .paypal-logo {
    float: left;
}
.product-options {
    background-color: #F4F9EA;
    border: 1px solid #DDDDDD;
    margin: 20px 0 0;
    padding: 0 20px;
    position: relative;
}
.product-options dt {
    border-top: 1px solid #DDDDDD;
    clear: both;
    float: left;
    font-weight: normal;
    margin-top: -1px;
    padding: 15px 0 0;
    text-align: right;
    width: 210px;
}
.product-options dt label {
    font-weight: bold;
}
.product-options dt label.required em {
    color: #EB340A;
    float: right;
    margin-left: 5px;
}
.product-options dd .qty-holder {
    display: block;
    padding: 10px 0 0;
}
.product-options dd .qty-holder label {
    vertical-align: middle;
}
.product-options dd .qty-disabled {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #444444;
    padding: 3px;
}
.product-options dd {
    border-bottom: 1px solid #DDDDDD;
    clear: right;
    float: right;
    margin-top: 1px;
    padding: 15px 10px;
    width: 303px;
}
.product-options dl.last dd.last {
    border-bottom: 0 none;
    margin-bottom: 0;
    padding-bottom: 5px;
}
.product-options dd input.input-text {
    width: 98%;
}
.product-options dd input.datetime-picker {
    width: 150px;
}
.product-options dd .time-picker {
    display: inline-block;
    padding: 2px 0;
    vertical-align: middle;
}
.product-options dd textarea {
    height: 8em;
    width: 98%;
}
.product-options dd select {
    width: 99%;
}
.product-options dd .multiselect option {
    border-bottom: 1px dotted #D9E5EE;
    padding: 2px 4px;
}
.product-options ul.options-list {
    margin-right: 5px;
}
.product-options ul.options-list li {
    padding: 2px 0;
}
.product-options ul.options-list input.radio {
    float: left;
    margin-top: 3px;
}
.product-options ul.options-list input.checkbox {
    float: left;
    margin-top: 2px;
}
.product-options ul.options-list .label {
    display: block;
    margin-left: 18px;
}
.product-options ul.options-list label {
    font-weight: normal;
}
.product-options ul.validation-failed {
    padding: 0 7px;
}
.product-options p.required {
    position: absolute;
    right: 15px;
    top: 10px;
}
.product-options-bottom {
    background-color: #F6F6F6;
    border: 1px solid #DEDEDE;
    padding: 15px 20px;
}
.product-options-bottom .product-pricing, .product-options-bottom .tier-prices {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    border: 0 none;
    margin: 0;
    padding: 0 0 10px;
}
.product-options-bottom .price-box {
    float: left;
    margin: 0;
}
.product-options-bottom .add-to-links {
    clear: both;
    padding: 5px 0 0;
    text-align: right;
}
.product-options-bottom .price-label {
    padding-right: 5px;
}
.product-options-bottom .price-tax {
    float: left;
}
.product-options-bottom .add-to-cart {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    border: 0 none;
    float: right;
    margin: 0;
    padding: 0;
}
.product-options-bottom .add-to-links {
    display: inline;
    float: right;
}
.product-shop .product-options-bottom .price-box {
    clear: both;
    float: right;
    margin: 0;
}
.product-shop .product-options-bottom .price-label {
    float: none;
    padding-right: 0;
}
.product-shop .product-options-bottom .price-tax {
    float: none;
}
.product-shop .product-options-bottom .add-to-cart {
    clear: both;
    float: right;
    padding: 12px 0 0;
    text-align: right;
}
.product-view .grouped-items-table .price-box {
    margin: 0;
    padding: 0;
}
.product-tabs {
    background: url("../images/bkg_tabs.gif") repeat-x scroll 0 100% #F2F2F2;
    border-bottom: 1px solid #666666;
    display: none;
    margin-bottom: 15px;
}
.product-tabs li {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #A4A4A4;
    float: left;
    font-size: 1.1em;
    line-height: 1em;
}
.product-tabs li.first {
    border-left: 0 none;
}
.product-tabs li.last {
    border-right: 0 none;
}
.product-tabs a {
    color: #444444;
    display: block;
    padding: 6px 15px;
}
.product-tabs a:hover {
    background-color: #DDDDDD;
    color: #444444;
    text-decoration: none;
}
.product-tabs li.active a, .product-tabs li.active a:hover {
    background-color: #666666;
    color: #FFFFFF;
    font-weight: bold;
}
.product-tabs-content h2 {
    display: none;
    font-size: 12px;
    font-weight: bold;
}
.mini-products-grid {
    width: 100%;
}
.mini-products-grid td {
    padding: 0 8px 8px 0;
    width: 20%;
}
.mini-products-grid .product-image {
    border: 1px solid #CACACA;
    display: block;
    margin: 0 0 10px;
}
.mini-products-grid .product-name {
    margin: 0 0 6px;
    overflow: hidden;
    width: 115px;
}
.mini-products-grid .product-name a {
    color: #444444;
    text-decoration: underline;
}
.mini-products-grid .product-name a:hover {
    text-decoration: none;
}
.mini-products-grid td.empty {
}
.mini-products-grid td.last {
    padding-right: 0;
}
.mini-products-grid .ratings .rating-box {
    display: block;
    float: none;
    margin: 0 0 3px;
}
.product-view .box-description {
}
.product-view .box-additional .data-table th, .product-view .box-additional .data-table td {
    line-height: 1.25;
}
.product-view .box-up-sell h2 {
    margin: 0 0 8px;
}
#product_tabs_upsell_products_contents h2 {
    display: block;
}
.product-view .box-tags {
    margin: 0;
}
.product-view .box-tags h3 {
    font-size: 12px;
}
.product-view .box-tags .product-tags {
    display: block;
    margin: 0 0 15px;
}
.product-view .box-tags .product-tags li {
    background: url("../images/bkg_pipe3.gif") no-repeat scroll 100% 4px rgba(0, 0, 0, 0);
    display: inline;
    padding: 0 7px 0 4px;
}
.product-view .box-tags .product-tags li.first {
    padding-left: 0;
}
.product-view .box-tags .product-tags li.last {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-right: 0;
}
.product-view .box-tags .form-add label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 3px;
}
.product-view .box-tags .form-add .input-box {
    float: left;
    margin: 0 5px 0 0;
    width: 305px;
}
.product-view .box-tags .form-add input.input-text {
    width: 299px;
}
.product-view .box-tags .form-add button.button span {
    background-image: url("../images/bkg_btn-small.png");
    height: 23px;
    line-height: 20px;
}
.product-view .box-tags .note {
    font-size: 10px;
    margin: 2px 0 0;
}
.product-view .box-reviews dl {
    margin: 15px 0;
}
.product-view .box-reviews dt a, .product-view .box-reviews dt span {
    font-weight: bold;
}
.product-view .box-reviews dd {
    margin: 0 0 15px;
}
.product-view .box-reviews dd small {
    font-style: italic;
}
.product-view .box-reviews .form-add {
    margin: 15px 0 0;
}
.product-view .box-reviews .form-add h3 {
    font-size: 13px;
    font-weight: normal;
}
.product-view .box-reviews .form-add h3 span {
    font-weight: bold;
}
.product-view .box-reviews .form-add h4 {
    font-size: 12px;
}
.product-view .box-reviews .form-add .data-table td {
    text-align: center;
}
.product-view .box-reviews .form-add .form-list {
    margin: 15px 0 0;
}
.product-view .box-reviews .form-add .form-list .input-box {
    width: 460px;
}
.product-view .box-reviews .form-add .form-list input.input-text, .product-view .box-reviews .form-add .form-list textarea {
    width: 454px;
}
.send-friend .form-list {
    overflow: hidden;
    width: 535px;
}
.send-friend .form-list li {
    margin-right: -15px;
}
.send-friend .form-list li p {
    margin: 0 15px 0 0;
}
.send-friend .buttons-set .limit {
    float: right;
    font-size: 11px;
    line-height: 25px;
    margin: 0 7px 0 0;
}
.product-name {
    font-size: 1em;
    font-weight: normal;
    line-height: 1.55;
    margin: 0;
}
.tags-list {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #DDDDDD;
    display: block;
    font-size: 13px;
    padding: 10px;
}
.tags-list li {
    display: inline !important;
    margin: 0 4px 0 0;
}
.tags-list li a {
    color: #1B2D3B;
}
.advanced-search .form-list label {
    padding-right: 10px;
    width: 160px;
}
.advanced-search .form-list .input-box, .advanced-search .form-list .input-range {
    clear: none;
    float: left;
}
.advanced-search-amount {
    margin: 0 0 10px;
}
.advanced-search-summary {
    background: none repeat scroll 0 0 #ECF9EA;
    border: 1px solid #DDDDDD;
    margin: 10px 0;
    padding: 10px;
}
.advanced-search-summary ul {
    float: left;
    width: 49%;
}
.advanced-search-summary strong {
    color: #E17C24;
}
.advanced-search-summary li {
    margin: 2px 0;
}
.advanced-search-summary p {
    clear: both;
    font-weight: bold;
    margin: 0;
}
.cms-home .main {
    padding: 8px;
}
.cms-home .subtitle {
}
.cms-index-index .subtitle {
}
.page-sitemap .links {
    margin: 0 8px -22px 0;
    text-align: right;
}
.page-sitemap .links a {
    position: relative;
    text-decoration: none;
}
.page-sitemap .links a:hover {
    text-decoration: underline;
}
.page-sitemap .sitemap {
    margin: 12px;
}
.page-sitemap .sitemap a {
    color: #444444;
}
.page-sitemap .sitemap li {
    margin: 3px 0;
}
.page-sitemap .sitemap li.level-0 {
    font-weight: bold;
    margin: 10px 0 0;
}
.page-sitemap .sitemap li.level-0 a {
    color: #4F8100;
}
.rss-title h1 {
    background: url("../images/i_rss-big.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
    padding-left: 27px;
}
.rss-table .link-rss {
    background-position: 0 4px;
    display: block;
    line-height: 1.55;
}
.cart .page-title {
}
.cart .page-title .checkout-types {
    display: none !important;
}
.cart .checkout-types .paypal-or {
    line-height: 2.3;
    margin: 0 8px;
}
.cart .totals .checkout-types .paypal-or {
    clear: both;
    display: block;
    font-size: 11px;
    line-height: 1;
    padding: 8px 55px 0 0;
}
.cart-table th {
    padding: 2px 10px;
}
.cart-table td {
    padding: 10px;
}
.cart-table .product-name {
    color: #444444;
    font-weight: bold;
    margin: 0 0 5px;
}
.cart-table .item-msg {
    color: #DF280A;
    font-size: 11px;
    font-weight: bold;
    margin: 5px 0;
}
.cart-table tfoot td {
    padding: 5px 10px;
}
.cart-table .btn-continue {
    float: left;
}
.cart-table .btn-continue span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font: 11px/25px Arial,Helvetica,sans-serif;
    padding: 0;
    text-decoration: underline;
    text-transform: none;
}
.cart-table .btn-continue:hover span {
    text-decoration: none;
}
.cart-table .btn-update, .cart-table .btn-empty {
    float: right;
}
.cart-table .btn-update {
    margin-left: 7px;
}
.cart .cart-collaterals {
    padding: 25px 0 0;
}
.cart .cart-collaterals .col2-set .col-1 {
    width: 222px;
}
.cart .cart-collaterals .col2-set .col-2 {
    width: 655px;
}
.cart .crosssell {
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #DDDDDD;
    padding: 10px;
}
.cart .crosssell h2 {
    font-size: 12px;
    font-weight: bold;
}
.cart .crosssell .product-image {
    float: left;
    height: 75px;
    width: 75px;
}
.cart .crosssell .product-details {
    margin-left: 85px;
}
.cart .crosssell .product-name {
    font-weight: bold;
}
.cart .crosssell li.item {
    border-bottom: 1px solid #DDDDDD;
    margin: 0 0 8px;
    padding-bottom: 5px;
}
.cart .crosssell li.last {
    border-bottom: 0 none;
    margin: 0;
    padding-bottom: 0;
}
.cart .crosssell .link-compare {
    font-weight: normal;
}
.cart .no-crosssell {
    overflow: hidden;
    width: 100%;
}
.cart .no-crosssell img {
    display: block;
    margin: 0 0 10px;
}
.cart .discount, .cart .shipping {
    margin: 0 12px;
    padding: 10px 0;
}
.cart .discount h2, .cart .shipping h2 {
    color: #D54C01;
    display: none;
    float: left;
    font: 14px/16px Arial,Helvetica,sans-serif;
    width: 225px;
}
.cart .discount .discount-form, .cart .shipping .shipping-form {
    margin-left: 365px;
    text-align: right;
}
.cart .discount .buttons-set, .cart .shipping .buttons-set {
    border: 0 none;
    margin: 10px 0 0;
    padding: 0;
    text-align: left;
}
.cart .discount .buttons-set button.button, .cart .shipping .buttons-set button.button {
    float: none;
    margin: 0;
}
.cart .discount .buttons-set button.button span, .cart .shipping .buttons-set button.button span {
    color: #333333;
    font-size: 10px;
    height: 27px;
    line-height: 25px;
    padding: 0 0 0 6px;
}
.cart .discount .buttons-set button.button span span, .cart .shipping .buttons-set button.button span span {
    padding: 0 19px 0 10px;
}
.cart .discount {
    border-bottom: 1px solid #DEDEDE;
}
.cart .discount label {
    color: #555555;
    font-weight: bold;
}
.cart .discount .input-box {
    width: 270px;
}
.cart .discount input.input-text {
    width: 264px;
}
.cart .shipping p {
    margin: 0 0 3px;
}
.cart .shipping .sp-methods {
    border-top: 1px solid #C0D2AF;
    margin: 10px 0 0;
    padding: 6px 0 0;
}
.cart .shipping .form-list .input-box {
    width: 270px;
}
.cart .shipping .form-list input.input-text {
    width: 264px;
}
.cart .shipping .form-list select {
    width: 270px;
}
.cart .totals {
    padding: 12px 0;
}
.cart .totals table {
    float: right;
    margin: 0 0 8px;
    width: 400px;
}
.cart .totals td {
    padding: 0 0 0 15px;
}
.cart .totals tr.last td {
}
.cart .totals tfoot td {
}
.cart .totals tfoot th strong, .cart .totals tfoot td strong {
    color: #E02F00;
    font-size: 14px;
    font-weight: bold;
}
.cart .totals .checkout-types {
    font-size: 13px;
    padding: 4px 0;
    text-align: right;
}
.cart .totals .checkout-types li {
    clear: both;
    margin: 0 0 5px;
}
.item-options dt {
    font-style: italic;
    font-weight: bold;
}
.item-options dd {
    padding-left: 10px;
}
.truncated {
    cursor: help;
}
.truncated a.dots {
    cursor: help;
    text-decoration: none !important;
}
.truncated a.details {
    border-bottom: 1px dotted #4F8100;
    cursor: help;
    display: inline-block;
    text-decoration: none !important;
}
.truncated .truncated_full_value {
    position: relative;
    z-index: 999;
}
.truncated .truncated_full_value .item-options {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F6F6F6;
    border-color: #DDDDDD #DDDDDD #666666;
    border-image: none;
    border-style: solid;
    border-width: 2px;
    padding: 8px;
    position: absolute;
    top: -99999em;
    width: 250px;
    z-index: 999;
}
.truncated .truncated_full_value .item-options dt {
    margin-top: 0;
}
.truncated .truncated_full_value .item-options > p {
    font-weight: bold;
    text-transform: uppercase;
}
.truncated .show .item-options {
    left: 50%;
    top: -20px;
}
.col-left .truncated .show .item-options {
    left: 30px;
    top: 10px;
}
.col-right .truncated .show .item-options {
    left: -240px;
    top: 10px;
}
.sp-methods {
    margin: 0 0 8px;
}
.sp-methods dt {
    font-weight: bold;
    margin: 13px 0 5px;
}
.sp-methods dd {
}
.sp-methods dd li {
    margin: 5px 0;
}
.sp-methods label {
    color: #555555;
    font-weight: bold;
}
.sp-methods .price {
    font-weight: bold;
}
.sp-methods .form-list {
    padding-left: 20px;
}
.sp-methods .form-list li {
    margin: 0 0 8px;
}
.sp-methods select.month {
    margin-right: 10px;
    width: 154px;
}
.sp-methods select.year {
    width: 96px;
}
.sp-methods input.cvv {
    width: 3em !important;
}
.sp-methods .checkmo-list li {
    margin: 0 0 5px;
}
.sp-methods .checkmo-list label {
    padding-right: 10px;
    text-align: right;
    width: 135px;
}
.sp-methods .checkmo-list address {
    float: left;
}
.sp-methods .centinel-logos a {
    margin-right: 3px;
}
.sp-methods .centinel-logos img {
    vertical-align: middle;
}
.sp-methods .release-amounts {
    margin: 1.5em 0 2em;
}
.sp-methods .release-amounts button {
    float: left;
    margin: 5px 10px 0 0;
}
.please-wait {
    float: right;
}
.please-wait img {
    vertical-align: middle;
}
.cvv-what-is-this {
    cursor: help;
    font-size: 11px;
    margin-left: 10px;
}
.tool-tip {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F6F6F6;
    border-color: #DDDDDD #DDDDDD #666666;
    border-image: none;
    border-style: solid;
    border-width: 2px;
    padding: 15px 20px;
    position: absolute;
    z-index: 9999;
}
.tool-tip .btn-close {
    margin: -9px -14px 0;
    text-align: right;
}
.tool-tip .btn-close a {
    background: url("../images/btn_window_close.gif") no-repeat scroll 100% 0 rgba(0, 0, 0, 0);
    display: block;
    height: 12px;
    margin: 0 0 0 auto;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
    width: 12px;
}
.tool-tip .tool-tip-content {
    padding: 5px;
}
.gift-messages h3 {
    color: #E87403;
    font-size: 12px;
    font-weight: bold;
}
.gift-messages p.control {
    color: #8E8D8B;
}
.gift-messages-form {
    position: relative;
}
.gift-messages-form label {
    float: none !important;
    position: static !important;
}
.gift-messages-form h4 {
    color: #E87403;
    font-size: 12px;
    font-weight: bold;
}
.gift-messages-form .whole-order {
    margin: 0 0 25px;
}
.gift-messages-form .item {
    margin: 0 0 10px;
}
.gift-messages-form .item .product-img-box {
    float: left;
    width: 75px;
}
.gift-messages-form .item .product-image {
    margin: 0 0 7px;
}
.gift-messages-form .item .number {
    color: #8A8987;
    font-weight: bold;
    margin: 0;
    text-align: center;
}
.gift-messages-form .item .details {
    margin-left: 90px;
}
.gift-messages-form .item .details .product-name {
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 10px;
}
.gift-messages-form .item .details .form-list .field {
    width: 255px;
}
.gift-messages-form .item .details .form-list .input-box {
    width: 240px;
}
.gift-messages-form .item .details .form-list input.input-text {
    width: 234px;
}
.gift-messages-form .item .details .form-list li.wide .input-box {
    width: 500px;
}
.gift-messages-form .item .details .form-list li.wide textarea {
    width: 494px;
}
.gift-message-link {
    background: url("../images/bkg_collapse-gm.gif") no-repeat scroll 100% 6px rgba(0, 0, 0, 0);
    font-size: 11px;
    padding-right: 7px;
}
.gift-message-link.expanded {
    background-position: 100% -40px;
}
.gift-message-row {
    background: none repeat scroll 0 0 #F2EFE9;
}
.gift-message-row .btn-close {
    background: url("../images/btn_remove.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    font-size: 0;
    height: 12px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 12px;
}
.checkout-agreements li {
    margin: 30px 0;
}
.checkout-agreements .agreement-content {
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #E4E4E4;
    height: 12em;
    overflow: auto;
    padding: 10px;
}
.checkout-agreements .agree {
    margin: 0;
    padding: 10px 0 10px 11px;
}
.checkout-agreements .agree input.checkbox {
    margin-right: 6px;
}
.checkout-agreements .agree label {
    color: #555555;
    font-weight: bold;
}
.opc .checkout-agreements {
    padding: 5px 30px;
}
.opc .checkout-agreements li {
    margin: 20px 0 0;
}
.opc .checkout-agreements .agreement-content {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 5px;
}
.opc .checkout-agreements .agree {
    padding-left: 6px;
}
.centinel {
}
.centinel .authentication {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
}
.centinel .authentication iframe {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 0 none !important;
    height: 400px;
    margin: 0 !important;
    padding: 0 !important;
    width: 99%;
}
.opc .centinel {
    padding: 10px 30px;
}
.info-set {
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #DDDDDD;
    margin: 0 0 25px;
    padding: 20px;
}
.info-set h2 {
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 10px;
}
.info-set h3, .info-set h4 {
    font-size: 12px;
    font-weight: bold;
}
.info-set h2 a, .info-set h3 a, .info-set h4 a {
    font-weight: normal;
}
.info-set h2.legend {
    background: none repeat scroll 0 0 #777777;
    border-bottom: 1px solid #777777;
    color: #FFFFFF;
    margin: -20px -20px 15px;
    padding: 3px 10px;
    position: relative;
}
.info-set h2.legend a {
    color: #FFFFFF;
}
.info-set h3.legend {
    margin: 0 0 10px;
}
.info-set .divider {
    margin: 0 -20px;
    padding: 25px 0;
    position: relative;
}
.info-set .box {
    margin: 0 0 15px;
}
.info-set .box h2 {
    color: #E26703;
}
.info-set .data-table .product-name {
    color: #4F8100 !important;
    font-size: 1em !important;
    font-weight: bold !important;
}
.info-set .data-table .product-name a {
    font-weight: bold !important;
}
.info-set .data-table .item-options {
    margin: 5px 0 0;
}
.block-progress {
    border: 0 none;
    margin: 0;
}
.block-progress .block-title {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    margin: 0 0 5px;
    padding: 0;
}
.block-progress .block-title strong {
    font-size: 12px;
}
.block-progress .block-content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 0;
}
.block-progress dt {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #DDDDDD;
    color: #555555;
    font-size: 10px;
    line-height: 1.35;
    margin: 0 0 6px;
    padding: 2px 8px;
    text-transform: uppercase;
}
.block-progress dd {
    border-top: 0 none;
    margin: 0 0 6px;
    padding: 2px 10px;
}
.block-progress dt.complete {
}
.block-progress dt.complete a {
    text-transform: none;
}
.block-progress dd.complete {
}
.block-progress p {
    margin: 0;
}
.block-progress .cards-list dt {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: inherit;
    font-size: 11px;
    font-weight: bold;
    margin: 5px 0;
    padding: 0;
    text-transform: none;
}
.block-progress .cards-list dd {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.block-progress .cards-list .info-table th {
    font-weight: normal;
}
.opc .buttons-set {
    margin-top: 0;
    padding-top: 2em;
}
.opc .buttons-set p.required {
    margin: 0;
    padding: 0 0 10px;
}
.opc .buttons-set.disabled button.button {
    display: none;
}
.opc .buttons-set .please-wait {
    height: 28px;
    line-height: 28px;
}
.opc .ul {
    list-style: disc outside none;
    padding-left: 18px;
}
.opc {
    position: relative;
}
.opc li.section {
}
.opc .step-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #FFFFFF #DDDDDD #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    padding: 4px 8px 6px;
    text-align: right;
}
.opc .step-title .number {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #444444;
    float: left;
    font: 11px/12px arial,helvetica,sans-serif;
    margin: 0 5px 0 0;
    padding: 0 3px;
}
.opc .step-title h2 {
    color: #999999;
    float: left;
    font: bold 12px/14px Arial,Helvetica,sans-serif;
    margin: 0;
}
.opc .step-title a {
    display: none;
    float: right;
    font-size: 11px;
    line-height: 16px;
}
.opc .allow .step-title {
    background: none repeat scroll 0 0 #999999;
    border-color: #FFFFFF #999999 #999999;
    color: #FFFFFF;
    cursor: pointer;
}
.opc .allow .step-title .number {
}
.opc .allow .step-title h2 {
    color: #FFFFFF;
}
.opc .allow .step-title a {
    color: #FFFFFF;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
}
.opc .active .step-title {
    background: none repeat scroll 0 0 #E46B00;
    border-color: #FFFFFF #E46B00 #E46B00;
    color: #FFFFFF;
    cursor: default;
    padding-bottom: 5px;
}
.opc .active .step-title .number {
}
.opc .active .step-title h2 {
    color: #FFFFFF;
}
.opc .active .step-title a {
    display: none;
}
.opc .step {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FBFBFB;
    border-color: -moz-use-text-color #DDDDDD #DDDDDD;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    padding: 15px 30px;
    position: relative;
}
.opc .step .tool-tip {
    right: 30px;
}
#opc-login h3 {
    border-bottom: 1px solid #E4E4E4;
    font-size: 13px;
    padding-bottom: 2px;
    text-transform: uppercase;
}
#opc-login h4 {
    color: #2F2F2F;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}
#opc-shipping_method .buttons-set {
    border-top: 0 none;
}
.opc .gift-messages-form {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F4F4F4;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 0;
    margin: 0 -30px;
    padding: 22px 24px 22px 30px;
}
.opc .gift-messages-form .inner-box {
    height: 260px;
    overflow: auto;
    padding: 5px;
}
#opc-review .step {
    padding: 0;
}
#opc-review .product-name {
    font-weight: bold;
}
#opc-review .item-options {
    margin: 5px 0 0;
}
#opc-review .buttons-set {
    border: 0 none;
    padding: 15px 30px;
}
#opc-review .buttons-set p {
    line-height: 28px;
    margin: 0;
}
#opc-review .buttons-set .please-wait {
    height: 28px;
    line-height: 28px;
}
#opc-review .authentication {
    margin: 0 auto;
    width: 570px;
}
#opc-review .warning-message {
    color: #222222;
    font-weight: bold;
    padding: 10px 10px 0;
    text-align: center;
}
.checkout-progress {
    margin: 0 0 20px;
    padding: 0 90px;
}
.checkout-progress li {
    border-top: 6px solid #999999;
    color: #888888;
    float: left;
    font-weight: bold;
    margin: 0 3px 0 0;
    padding: 2px 0 0;
    text-align: center;
    width: 19%;
}
.checkout-progress li.active {
    border-top-color: #E96200;
    color: #E96200;
}
.multiple-checkout h2 {
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 10px;
}
.multiple-checkout h3, .multiple-checkout h4 {
    font-size: 12px;
    font-weight: bold;
}
.multiple-checkout h2 a, .multiple-checkout h3 a, .multiple-checkout h4 a {
    font-weight: normal;
}
.multiple-checkout .data-table .product-name {
    color: #4F8100 !important;
    font-size: 1em !important;
    font-weight: bold !important;
}
.multiple-checkout .data-table .product-name a {
    font-weight: bold !important;
}
.multiple-checkout .data-table .item-options {
    margin: 5px 0 0;
}
.multiple-checkout .gift-messages {
    margin: 15px 0 0;
}
.multiple-checkout .tool-tip {
    margin-top: -120px;
    right: 20px;
    top: 50%;
}
.multiple-checkout .col2-set, .multiple-checkout .col3-set {
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #DDDDDD;
    margin: 0 0 25px;
    padding: 20px;
}
.multiple-checkout .col2-set h2.legend {
    background: none repeat scroll 0 0 #777777;
    border-bottom: 1px solid #777777;
    color: #FFFFFF;
    margin: -20px -20px 15px;
    padding: 3px 10px;
    position: relative;
}
.multiple-checkout .col2-set h3.legend {
    margin: 0 0 10px;
}
.multiple-checkout .col2-set .divider {
    margin: 0 -20px;
    padding: 25px 0;
    position: relative;
}
.multiple-checkout .box {
    margin: 0 0 15px;
}
.multiple-checkout .place-order .please-wait {
    float: right;
    padding: 5px 10px 0 0;
}
.multiple-checkout .place-order .grand-total {
    float: right;
}
.multiple-checkout .place-order .grand-total .inner {
}
.multiple-checkout .place-order .grand-total big {
    color: #E26703;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 28px;
    margin-right: 12px;
}
.multiple-checkout .place-order .grand-total div {
    float: left;
}
#multiship-addresses-table td {
    padding: 10px;
}
#multiship-addresses-table tfoot td {
    padding: 5px 10px;
}
.multiple-checkout .gift-messages-form .item .details .form-list {
    overflow: hidden;
    width: 100%;
}
.multiple-checkout .gift-messages-form .item .details .form-list li {
    margin-right: -15px;
}
.multiple-checkout .gift-messages-form .item .details .form-list .field {
    width: 230px;
}
.multiple-checkout .gift-messages-form .item .details .form-list .input-box {
    width: 215px;
}
.multiple-checkout .gift-messages-form .item .details .form-list input.input-text {
    width: 209px;
}
.multiple-checkout .gift-messages-form .item .details .form-list li.wide .input-box {
    width: 445px;
}
.multiple-checkout .gift-messages-form .item .details .form-list li.wide textarea {
    width: 439px;
}
.checkout-multishipping-shipping .box-sp-methods {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #DDDDDD;
    padding: 13px;
    position: relative;
}
.checkout-multishipping-shipping .box-sp-methods .pointer {
    display: none;
}
.checkout-multishipping-billing .multiple-checkout {
    position: relative;
}
.account-login .content {
    min-height: 200px;
    padding: 0 10px;
}
.account-login .content h2 {
    background: none repeat scroll 0 0 #F1F1F1;
    font-size: 13px;
    line-height: 1.25;
    margin: 0 -10px 12px;
    padding: 2px 10px;
}
.account-login .buttons-set {
}
.account-create {
}
.captcha-note {
    clear: left;
    padding-top: 5px;
}
.captcha-image {
    display: inline;
    float: left;
    margin: 0;
    position: relative;
    width: 258px;
}
.captcha-image .captcha-img {
    border: 1px solid #B6B6B6;
    vertical-align: bottom;
    width: 100%;
}
.registered-users .captcha-image {
    margin: 0;
}
.captcha-reload {
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: 2px;
}
.captcha-reload.refreshing {
    animation: 1.5s linear 0s normal none infinite rotate;
}
@-moz-keyframes rotate {
0% {
    transform: rotate(0deg);
}
0% {
    transform: rotate(-360deg);
}
}
@-moz-keyframes rotate {
0% {
    transform: rotate(0deg);
}
0% {
    transform: rotate(-360deg);
}
}
.window-overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.35);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 990;
}
.remember-me label {
    float: none;
    margin: 0 6px;
}
.remember-me-popup {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #888888 #888888 #777777;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 6px #999999;
    left: 50%;
    margin: -85px 0 0 -200px;
    position: absolute;
    text-align: left;
    top: 50%;
    width: 400px;
    z-index: 1000;
}
.remember-me-popup h3 {
    background: none repeat scroll 0 0 #DEDEDE;
    border-bottom: 1px solid #CCCCCC;
    color: #444444;
    font-size: 14px;
    margin: 0;
    padding: 7px 10px 5px;
}
.remember-me-popup .remember-me-popup-head {
    position: relative;
}
.remember-me-popup .remember-me-popup-head .remember-me-popup-close {
    background: url("../images/btn_window_close.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 15px;
    position: absolute;
    right: 7px;
    text-indent: -9999em;
    top: 9px;
    width: 15px;
}
.remember-me-popup .remember-me-popup-body {
    border-top: 1px solid #E6E6E6;
    padding: 10px;
}
.remember-me-popup .remember-me-popup-body a, .remember-me-popup .remember-me-popup-body a span {
    background: url("../images/bkg_btn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #555555;
    display: inline-block;
    font: bold 11px/25px Tahoma,Verdana,Arial,sans-serif;
    height: 28px;
    padding: 0 0 0 6px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}
.remember-me-popup .remember-me-popup-body a span {
    background-position: 100% 0;
    padding: 0 15px 0 9px;
}
.my-account .title-buttons .link-rss {
    float: none;
    margin: 0;
}
.dashboard .welcome-msg {
    margin: 0 8em 1.5em 0;
}
.dashboard .welcome-msg p {
    margin: 0;
}
.dashboard .col2-set {
    margin: 0 0 15px;
}
.box-account {
    margin: 0 0 15px;
}
.box-account .box-head {
    margin: 0 0 5px;
    text-align: right;
}
.box-account .box-head h2 {
    color: #4F8100;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
.box-account .box-head a {
    font-size: 10px;
    text-transform: uppercase;
}
.dashboard .box .box-title {
    background: none repeat scroll 0 0 #F1F1F1;
    margin: 0 0 12px;
    padding: 2px 10px;
    text-align: right;
}
.dashboard .box .box-title h3, .dashboard .box .box-title h4 {
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.35;
    margin: 0;
}
.dashboard .box .box-title a {
    font-size: 10px;
    text-transform: uppercase;
}
.dashboard .box .box-content {
    padding: 0 10px;
}
.dashboard .box-recent {
}
.dashboard .box-info {
}
.dashboard .box-info h4 {
    font-size: 11px;
    font-weight: bold;
}
.dashboard .box-reviews .box-head {
    background: none repeat scroll 0 0 #F1F1F1;
    margin: 0 0 12px;
    padding: 2px 10px;
}
.dashboard .box-reviews .box-head h2 {
    color: #444444;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.35;
}
.dashboard .box-reviews .number {
    background: none repeat scroll 0 0 #0A263C;
    color: #FFFFFF;
    display: none;
    float: left;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    margin: 3px -20px 0 0;
    padding: 2px 3px;
}
.dashboard .box-reviews .details {
    padding: 0 10px;
}
.dashboard .box-reviews li.item {
    margin: 0 0 7px;
}
.dashboard .box-reviews li.item.last {
    margin: 0;
}
.dashboard .box-reviews .ratings {
    margin: 7px 0 0;
}
.dashboard .box-tags .box-head {
    background: none repeat scroll 0 0 #F1F1F1;
    margin: 0 0 12px;
    padding: 2px 10px;
}
.dashboard .box-tags .box-head h2 {
    color: #444444;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.35;
}
.dashboard .box-tags .number {
    background: none repeat scroll 0 0 #0A263C;
    color: #FFFFFF;
    display: none;
    float: left;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    margin: 3px -20px 0 0;
    padding: 2px 3px;
}
.dashboard .box-tags .details {
    padding: 0 10px;
}
.dashboard .box-tags li.item {
    margin: 0 0 7px;
}
.dashboard .box-tags li.item.last {
    margin: 0;
}
.dashboard .box-tags .tags strong, .dashboard .box-tags .tags ul, .dashboard .box-tags .tags ul li {
    display: inline;
}
.addresses-list h2 {
    background: none repeat scroll 0 0 #F1F1F1;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.25;
    margin: 0 0 12px;
    padding: 2px 10px;
}
.addresses-list h3 {
    font-size: 12px;
    font-weight: bold;
}
.addresses-list address {
    margin: 0 0 3px;
}
.addresses-list p {
    margin: 0;
}
.addresses-list a {
    font-weight: bold;
}
.addresses-list .link-remove {
}
.addresses-list .separator {
    margin: 0 3px;
}
.addresses-list li.item {
    margin: 0 0 12px;
    padding: 0 10px;
}
.addresses-list li.empty {
}
.addresses-list li.empty p {
    font-weight: bold;
}
.addresses-list .addresses-additional li.item {
}
.order-info dt {
    display: none;
}
.order-info ul {
    background: url("../images/bkg_tabs.gif") repeat-x scroll 0 100% #F2F2F2;
    border-bottom: 1px solid #666666;
    margin-bottom: 15px;
}
.order-info li {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #A4A4A4;
    float: left;
    font-size: 1.1em;
    line-height: 1em;
}
.order-info li.first {
    border-left: 0 none;
}
.order-info li.last {
    border-right: 0 none;
}
.order-info li a {
    color: #444444;
    display: block;
    padding: 6px 15px;
}
.order-info li a:hover {
    background-color: #DDDDDD;
    color: #444444;
    text-decoration: none;
}
.order-info li.current {
    background-color: #666666;
    color: #FFFFFF;
    font-weight: bold;
    padding: 6px 15px;
}
.order-date {
    margin: 10px 0;
}
.order-info-box {
    margin: 0 0 15px;
}
.order-info-box h2 {
    border-bottom: 1px solid #DDDDDD;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 8px;
}
.order-info-box .box-payment p {
    margin: 0 0 3px;
}
.order-info-box .box-payment th {
    font-weight: bold;
    padding-right: 7px;
}
.order-items {
    overflow-x: auto;
    width: 100%;
}
.order-items h2, .order-items h3 {
    clear: none;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 0.45em;
    padding: 0;
}
.order-items h3 {
    font-size: 12px;
}
.order-items .product-name {
    font-weight: bold !important;
}
.order-items .link-print {
    font-size: 10px;
    text-transform: uppercase;
}
.order-items .order-links {
    text-align: right;
}
.order-items .order-links .link-print {
    font-size: 11px;
    font-weight: bold;
    text-transform: none;
}
.order-additional {
    margin: 15px 0;
}
.gift-message dt strong {
    color: #555555;
}
.gift-message dd {
    font-size: 13px;
    margin: 5px 0 0;
}
.order-about dt {
    font-weight: bold;
}
.order-about dd {
    font-size: 13px;
    margin: 0 0 7px;
}
.tracking-table {
    margin: 0 0 15px;
}
.tracking-table th {
    font-weight: bold;
    white-space: nowrap;
}
.tracking-table-popup {
    width: 100%;
}
.tracking-table-popup th {
    font-weight: bold;
    white-space: nowrap;
}
.tracking-table-popup th, .tracking-table-popup td {
    padding: 1px 8px;
}
.page-print .print-head {
    margin: 0 0 15px;
}
.page-print .print-head .logo {
    float: left;
}
.page-print .print-head address {
    float: left;
    margin-left: 15px;
}
.page-print h1 {
    font-size: 15px;
    font-weight: bold;
}
.page-print h2, .page-print h3 {
    font-size: 12px;
    font-weight: bold;
}
.page-print h2.h2 {
    font-size: 15px;
    font-weight: bold;
    text-align: right;
}
.page-print .order-date {
    border-bottom: 1px solid #CCCCCC;
    margin: 0 0 10px;
    padding: 0 0 10px;
}
.page-print .col2-set {
    margin: 0 0 10px;
}
.page-print .gift-message-link {
    display: none;
}
.page-print .price-excl-tax, .page-print .price-incl-tax {
    display: block;
    white-space: nowrap;
}
.page-print .cart-price, .page-print .price-excl-tax .label, .page-print .price-incl-tax .label, .page-print .price-excl-tax .price, .page-print .price-incl-tax .price {
    display: inline;
}
.my-wishlist .data-table td {
    padding: 10px;
}
.my-wishlist .product-image {
    display: block;
    height: 113px;
    margin: 0 0 5px;
    width: 113px;
}
.my-wishlist textarea {
    display: block;
    height: 109px;
    width: 97%;
}
.my-wishlist .buttons-set {
    border: 0 none;
    margin: 0 0 -3em;
    padding: 0;
}
.my-wishlist .buttons-set button.button {
    float: none;
}
.my-wishlist .buttons-set .btn-add span, .my-wishlist .buttons-set .btn-share span {
}
#wishlist-table .add-to-links {
    white-space: nowrap;
}
.my-tag-edit {
    float: left;
    margin: 0 0 10px;
}
.my-tag-edit .btn-remove {
    float: right;
    margin: 4px 0 0 5px;
}
#my-tags-table {
    clear: both;
}
#my-tags-table td {
    padding: 10px;
}
#my-tags-table .add-to-links {
    white-space: nowrap;
}
#my-reviews-table td {
    padding: 10px;
}
#my-reviews-table .rating-box {
    margin: 3px 0 0;
}
.product-review .product-img-box {
    float: left;
    width: 140px;
}
.product-review .product-img-box .product-image {
    display: block;
    height: 125px;
    width: 125px;
}
.product-review .product-img-box .label {
    font-size: 11px;
    margin: 0 0 3px;
}
.product-review .product-img-box .ratings .rating-box {
    display: block;
    float: none;
    margin: 0 0 3px;
}
.product-review .product-details {
    margin-left: 150px;
}
.product-review .product-name {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px;
}
.product-review h3 {
    color: #2F2F2F;
    font-size: 12px;
    margin: 0 0 3px;
}
.product-review .ratings-table {
    margin: 0 0 10px;
}
.product-review dt {
    font-weight: bold;
}
.product-review dd {
    font-size: 13px;
    margin: 5px 0 0;
}
.billing-agreements .info-box {
    margin: 15px 0;
}
.billing-agreements .info-box p {
    margin: 0 0 5px;
}
.billing-agreements .form-list li select {
    float: left;
    margin: 3px 10px 0 0;
}
.billing-agreements .table-caption {
    font-size: 13px;
    font-weight: bold;
}
.cart-msrp-totals {
    color: #FF0000;
    font-size: 12px !important;
    font-weight: bold;
    padding: 40px 0 10px;
    text-align: right;
    text-transform: uppercase;
}
.map-cart-sidebar-total {
    background: none repeat scroll 0 0 #F6F6F6;
    border-radius: 5px;
    box-shadow: 0 0 3px #CCCCCC;
    color: #FF0000;
    display: block;
    font-size: 10px;
    font-weight: bold;
    line-height: 14px;
    padding: 5px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.map-popup {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AAAAAA;
    box-shadow: 0 0 6px #CCCCCC;
    margin: 12px 0 0;
    position: absolute;
    text-align: left;
    width: 300px;
    z-index: 100;
}
.map-popup-heading {
    background: none repeat scroll 0 0 #EFEFEF;
    border-bottom: 1px solid #CCCCCC;
    padding: 5px 30px 5px 10px;
    width: 260px;
}
.map-popup-heading h2 {
    font-size: 16px;
    margin: 0;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    text-shadow: 0 1px 0 #F6F6F6;
    white-space: nowrap;
    word-wrap: break-word;
}
.map-popup-arrow {
    background: url("../images/map_popup_arrow.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 10px;
    left: 50%;
    position: absolute;
    top: -10px;
    width: 19px;
}
.map-popup-close {
    background: url("../images/btn_window_close.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 15px;
    position: absolute;
    right: 10px;
    text-indent: -9999em;
    top: 9px;
    width: 15px;
}
.map-popup-content {
    border-top: 1px solid #EEEEEE;
    overflow: hidden;
    padding: 10px;
    text-align: left;
    width: 280px;
}
.map-popup-checkout {
    display: inline;
    float: right;
    text-align: right;
}
.map-popup-checkout span {
    display: block;
    padding-right: 30px;
}
.map-popup-checkout .paypal-logo {
    margin: 0 0 5px;
}
.map-popup-price .price-box, .map-popup-price .price-box .special-price {
    margin: 0;
    padding: 0;
}
.map-popup-price {
    margin: 5px 0 0;
}
.map-popup-text {
    clear: right;
    margin: 0 10px;
    padding: 10px 0;
    text-align: left;
    word-wrap: break-word;
}
.map-popup-only-text {
    border-top: 1px solid #DDDDDD;
}
.footer-container {
}
.footer {
    margin: 15px 0 40px;
}
.footer a {
    color: #444444;
}
.footer .f-left {
    width: 520px;
}
.footer .f-right {
    width: 429px;
}
.footer ul {
    display: inline;
}
.footer li {
    background: url("../images/bkg_pipe1.gif") no-repeat scroll 100% 50% rgba(0, 0, 0, 0);
    display: inline;
    margin: 0 3px 0 0;
    padding: 0 5px 0 0;
}
.footer .links li.last {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    padding-right: 0 !important;
}
.footer .bugs {
    color: #666666;
    margin: 0;
}
.footer .bugs a {
    color: #444444;
    font-weight: bold;
}
.footer address {
    color: #666666;
}
.footer address a {
    color: #444444;
}
.footer .form-subscribe {
    margin: 8px 0;
}
.footer .form-subscribe label, .footer .form-subscribe .input-box, .footer .form-subscribe button.button {
    float: left;
}
.footer .form-subscribe label {
    color: #555555;
    font-weight: bold;
    padding-top: 2px;
}
.footer .form-subscribe .input-box {
    margin: 0 5px;
    width: 186px;
}
.footer .form-subscribe input.input-text {
    width: 180px;
}
.footer .form-subscribe button.button span {
    background-image: url("../images/bkg_btn-small.png");
    height: 23px;
    line-height: 20px;
}
.footer .footer-callout {
    display: block;
    margin: -10px 0 10px;
    position: relative;
}
.footer .store-switcher {
    color: #555555;
    text-align: right;
}
.footer .store-switcher label {
    font-weight: bold;
    vertical-align: middle;
}
.footer .store-switcher select {
    padding: 0;
    vertical-align: middle;
}
.footer-container .bottom-container {
    margin: 0 0 8px;
    text-align: right;
}
.home-callout {
    margin-bottom: 12px;
}
.home-callout img {
    display: block;
}
.best-selling h3 {
    color: #E25203;
    font-size: 1.2em;
    margin: 12px 0 6px;
}
.best-selling table {
    border-top: 1px solid #CCCCCC;
}
.best-selling tr.odd {
    background: url("../images/best_selling_tr_odd_bg.gif") repeat-x scroll 0 100% #EEEEEE;
}
.best-selling tr.even {
    background: url("../images/best_selling_tr_even_bg.gif") repeat-x scroll 0 100% #FFFFFF;
}
.best-selling td {
    border-bottom: 1px solid #CCCCCC;
    font-size: 11px;
    padding: 8px 10px 8px 8px;
    width: 50%;
}
.best-selling .product-img {
    border: 2px solid #DCDCDC;
    float: left;
}
.best-selling .product-description {
    line-height: 1.3em;
    margin-left: 107px;
}
.best-selling a.product-name, .home-spot .best-selling a.product-name:hover {
    color: #203548;
}
.clearer:after, .header-container:after, .header-container .top-container:after, .header:after, .top-bar:after, .quick-access:after, .form-search:after, #nav:after, .main:after, .footer:after, .footer .form-subscribe:after, .footer-container .bottom-container:after, .col-main:after, .col2-set:after, .col3-set:after, .col4-set:after, .search-autocomplete li:after, .block .block-content:after, .block .actions:after, .block li.item:after, .block-poll li:after, .block-layered-nav .currently li:after, .page-title:after, .products-grid:after, .products-list li.item:after, .box-account .box-head:after, .dashboard .box .box-title:after, .order-info ul:after, .box-reviews li.item:after, .box-tags li.item:after, .pager:after, .sorter:after, .ratings:after, .add-to-box:after, .add-to-cart:after, .product-essential:after, .product-collateral:after, .product-tabs:after, .product-view .product-img-box .more-views ul:after, .product-view .box-tags .form-add:after, .product-view .product-shop .short-description:after, .product-view .box-description:after, .product-options .options-list li:after, .product-options-bottom:after, .product-review:after, .cart:after, .cart-collaterals:after, .cart .crosssell li.item:after, .opc .step-title:after, .checkout-progress:after, .multiple-checkout .place-order:after, .group-select li:after, .form-list li:after, .form-list .field:after, .buttons-set:after, .page-print .print-head:after, .advanced-search-summary:after, .gift-messages-form .item:after, .send-friend .form-list li p:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}