<!--@subject {{var store.getFrontendName()}}: You have received a Gift Voucher from  {{var sendername}} @-->
<!--@vars
{"htmlescape var=$name":"Recipient Name",
"var recipientemail":"Recipient Email",
"htmlescape var=$sendername":"Sender Name",
"var senderemail":"Sender Email",
"var code":"Gift Voucher Code",
"var balance":"Gift Voucher Balance",
"var img":"Gift Voucher Image Url",
"var logo":"Company Logo Url",
"var status":"Status",
"htmlescape var=$message":"Message",
"var expiredat":"Expired At"}
@-->

<!--@styles
body,td { background:#FFFFFF; margin:0; padding:0; color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
pre{ white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;}
@-->

<div style="font:11px/1.35em  Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em  Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">

                <!-- [ middle starts here] -->
                <table cellspacing="5" cellpadding="5" border="0" width="650">
                    <tr>
                        <td valign="top"> <img src="{{var img}}" border="0">   
                        </td>
                        <td valign="top">
                                 	<div style="height:100px">
                                 	    <table>
                                 	        <tr>
                                 	            <td><img src="{{var logo}}" style="height:60px;" alt="Logo" /></td>
                                 	            <td style="font-size:11px;">Vem descobrir a Lusa Mater!
													<r><br> Todos os dias novas marcas e produtos portugueses, a preços especiais.<br><br> Nesta loja só não se vende saudade!</td>
                                 	            </tr>
                                 	        </table> 
                                        </div>
                                        <h4 style="font-size:20px; color:#00B5CB">Hi {{htmlescape var=$name}}!</h4>
                                        <p>You have received a Gift Card from Lusa Mater with an amount of {{var balance}} Euros</p>
                                        <p><span style="color:#999999">From: </span>{{htmlescape var=$sendername}}</p>
                                        <p><span style="color:#999999">Email: </span>{{htmlescape var=$senderemail}}</p>
                                        <p><span style="color:#999999">Message: </span><br>{{htmlescape var=$message}}</p>
                                        <p><span style="color:#999999">Amount: </span><span style="color: #00B5CB; font-size: 18px;">{{var balance}} Euros</span></p>                                    
                                        <p><span style="color:#999999">Valid until: </span>{{var expiredat}}</p>                                  
                                        <p><span style="color:#999999">Code: </span>{{var code}}</p>
                            </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
      <strong style="font-size:12px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; color:#424242;margin:10px 0 0 0;">Notes:</strong>
       	<p style="  font-size:11px; font-weight:normal;  margin:0; color:#686868;">Nota: Utilizar antes da data de término. Não pode ser trocado por dinheiro. Tem que usar o email {{var recipientemail}} quando se registar na loja, caso contrário o código não será aceite. Não pode ser convertido em dinheiro. Este Cartão Oferta apenas pode ser utilizado na loja  <a href="{{store url=""}}">{{var store.getFrontendName()}}</a></p>
</div>
