<?php
/**
 * Licentia Nuntius - Advanced Email Marketing Automation for Magento
 *
 * NOTICE OF LICENSE
 * This source file is subject to the Creative Commons Attribution-NonCommercial 4.0 International
 * It is available through the world-wide-web at this URL:
 * http://creativecommons.org/licenses/by-nc/4.0/
 *
 * @title      Advanced Email Marketing Automation
 * @category   Marketing
 * @package    Licentia
 * @author     Bento Vilas Boas <bento@licentia.pt>
 * @copyright  Copyright (c) 2012 Licentia - http://licentia.pt
 * @license    Creative Commons Attribution-NonCommercial 4.0 International
 */

$stats = Mage::registry('current_stats');
$report = Mage::registry('current_report');
$campaign = Mage::registry('current_report_campaign');

$b = $stats->getStats($campaign->getId(), 'browser');
$p = $stats->getStats($campaign->getId(), 'platform');

$jsonBrowsers = Zend_Json::encode($b);
$jsonPlatforms = Zend_Json::encode($p);
?>
<div class="grid">
    <table cellspacing="0" id="storeGrid_table" class="data">
        <thead>
            <tr class="headings">
                <th class=" no-link last"><span class="nobr"><?php echo $this->__('Email Client') ?></span></th>
            </tr>
        </thead>
        <tbody id="">
            <tr>
                <td class="last"  style="text-align:center">

                    <?php if (count($p) > 1): ?>
                        <script type="text/javascript">
                            var viewport = document.viewport.getDimensions();
                            var width = viewport.width;
                            google.load("visualization", "1", {packages: ["corechart"]});
                            google.setOnLoadCallback(drawChart);
                            function drawChart() {
                                var data = google.visualization.arrayToDataTable(<?php echo $jsonPlatforms ?>);

                                var options = {
                                    width: (width - 300),
                                    height: 400,
                                    bar: {groupWidth: '80%'},
                                    colors: ['#e0440e', '#f3b49f']
                                };

                                var chart = new google.visualization.ColumnChart(document.getElementById('chart_platforms'));
                                chart.draw(data, options);
                            }
                        </script>
                        <div id="chart_platforms" ></div>

                    <?php else: ?>
                        <p><?php echo $this->__('No Data') ?></p>
                    <?php endif; ?>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="grid">
    <table cellspacing="0" id="storeGrid_table" class="data">
        <thead>
            <tr class="headings">
                <th class=" no-link last"><span class="nobr"><?php echo $this->__('Browsers') ?></span></th>
            </tr>
        </thead>
        <tbody id="">
            <tr>
                <td class="last"  style="text-align:center">
                    <?php if (count($b) > 1): ?>
                        <script type="text/javascript">
                            var viewport = document.viewport.getDimensions();
                            var width = viewport.width;
                            google.load("visualization", "1", {packages: ["corechart"]});
                            google.setOnLoadCallback(drawChart);
                            function drawChart() {
                                var data = google.visualization.arrayToDataTable(<?php echo $jsonBrowsers ?>);

                                 var options = {
                                    width: (width - 300),
                                    height: 400,
                                    bar: {groupWidth: '80%'},
                                    colors: ['#e0440e', '#f3b49f']
                                };

                                var chart = new google.visualization.ColumnChart(document.getElementById('chart_browsers'));
                                chart.draw(data, options);
                            }
                        </script>
                        <div id="chart_browsers"></div>
                    <?php else: ?>
                        <p><?php echo $this->__('No Data') ?></p>
                    <?php endif; ?>
                </td>
            </tr>
        </tbody>
    </table>
</div>