<?php
/**
 * Licentia Nuntius - Advanced Email Marketing Automation for Magento
 *
 * NOTICE OF LICENSE
 * This source file is subject to the Creative Commons Attribution-NonCommercial 4.0 International
 * It is available through the world-wide-web at this URL:
 * http://creativecommons.org/licenses/by-nc/4.0/
 *
 * @title      Advanced Email Marketing Automation
 * @category   Marketing
 * @package    Licentia
 * @author     Bento Vilas Boas <bento@licentia.pt>
 * @copyright  Copyright (c) 2012 Licentia - http://licentia.pt
 * @license    Creative Commons Attribution-NonCommercial 4.0 International
 */
$stats = Mage::registry('current_stats');
$campaign = Mage::registry('current_report_campaign');

$h = $stats->getStats($campaign->getId(), "DATE_FORMAT(event_at,'%k')");
$d = $stats->getStats($campaign->getId(), "DATE_FORMAT(event_at,'%W')");

$titlesHours = array_shift($h);
array_multisort($h);
array_unshift($h, $titlesHours);

$titlesDays = array_shift($d);
$days = array();

$order = array(0 => 'Sunday', 1 => 'Monday', 2 => 'Tuesday', 3 => 'Wednesday', 4 => 'Thursday', 5 => 'Friday', 6 => 'Saturday');
$i = 0;
foreach ($order as $ord) {
    foreach ($d as $day) {

        if ($day[0] == $ord) {
            $days[$i] = $day;
            $i++;
            break;
        }
    }
}
array_unshift($days, $titlesDays);
unset($d);


$jsonHours = Zend_Json::encode($h);
$jsonDays = Zend_Json::encode($days);
?>
<div class="grid">
    <table cellspacing="0" id="storeGrid_table" class="data">
        <thead>
            <tr class="headings">
                <th class=" no-link last"><span class="nobr"><?php echo $this->__('Days') ?></span></th>
            </tr>
        </thead>
        <tbody id="">
            <tr>
                <td class="last"  style="text-align:center">
<?php if (count($days) > 1): ?>
                        <script type="text/javascript">
                            var viewport = document.viewport.getDimensions();
                            var width = viewport.width;
                            google.load("visualization", "1", {packages: ["corechart"]});
                            google.setOnLoadCallback(drawChart);
                            function drawChart() {
                                var data = google.visualization.arrayToDataTable(<?php echo $jsonDays ?>);

                                var options = {
                                    width: (width - 300),
                                    height: 400,
                                    bar: {groupWidth: '80%'},
                                    colors: ['#e0440e', '#f3b49f']
                                };

                                var chart = new google.visualization.ColumnChart(document.getElementById('chart_days'));
                                chart.draw(data, options);
                            }
                        </script>
                        <div id="chart_days" ></div>
<?php else: ?>
                        <p><?php echo $this->__('No Data') ?></p>
                    <?php endif; ?>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="grid">
    <table cellspacing="0" id="storeGrid_table" class="data">
        <thead>
            <tr class="headings">
                <th class=" no-link"><span class="nobr"><?php echo $this->__('Hours') ?></span></th>
            </tr>
        </thead>
        <tbody id="">
            <tr>
                <td class="last"  style="text-align:center">
<?php if (count($h) > 1): ?>
                        <script type="text/javascript">
                            var viewport = document.viewport.getDimensions();
                            var width = viewport.width;
                            google.load("visualization", "1", {packages: ["corechart"]});
                            google.setOnLoadCallback(drawChart);
                            function drawChart() {
                                var data = google.visualization.arrayToDataTable(<?php echo $jsonHours ?>);

                                var options = {
                                    width: (width - 300),
                                    height: 400,
                                    bar: {groupWidth: '80%'},
                                    colors: ['#e0440e', '#f3b49f']
                                };

                                var chart = new google.visualization.ColumnChart(document.getElementById('chart_hours'));
                                chart.draw(data, options);
                            }
                        </script>
                        <div id="chart_hours" ></div>
<?php else: ?>
                        <p><?php echo $this->__('No Data') ?></p>
                    <?php endif; ?>
                </td>
            </tr>
        </tbody>
    </table>
</div>
