<?php
/**
 * Licentia Nuntius - Advanced Email Marketing Automation for Magento
 *
 * NOTICE OF LICENSE
 * This source file is subject to the Creative Commons Attribution-NonCommercial 4.0 International
 * It is available through the world-wide-web at this URL:
 * http://creativecommons.org/licenses/by-nc/4.0/
 *
 * @title      Advanced Email Marketing Automation
 * @category   Marketing
 * @package    Licentia
 * @author     Bento Vilas Boas <bento@licentia.pt>
 * @copyright  Copyright (c) 2012 Licentia - http://licentia.pt
 * @license    Creative Commons Attribution-NonCommercial 4.0 International
 */
$stats = Mage::registry('current_stats');
$report = Mage::registry('current_report');
$campaign = Mage::registry('current_report_campaign');

if ($campaign->getData('views') > 0):
    ?>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <div class="grid">
        <table cellspacing="0" id="storeGrid_table" class="data" style="width:49%; float:left">
            <thead>
                <tr class="headings">
                    <th class=" no-link last" colspan="2"><span class="nobr"><?php echo $this->__('Metrics') ?></span></th>
                </tr>
            </thead>
            <tbody id="">
                <tr  class="even pointer ">
                    <td class="a-left "><?php echo $this->__('Messages sent') ?></td>
                    <td class="a-left last " style="width:20%; text-align: center;"><?php echo $campaign->getData('sent') ?></td>
                </tr>
                <tr  class="even pointer ">
                    <td class="a-left "><?php echo $this->__('Unopens') ?></td>
                    <td class="a-left last " style="width:20%; text-align: center;"><?php echo round($campaign->getData('sent') - $campaign->getData('unique_views')) ?></td>
                </tr>
                <tr  class="even pointer ">
                    <td class="a-left "><?php echo $this->__('Unique opens') ?></td>
                    <td class="a-left last " style="width:20%; text-align: center;"><?php echo $campaign->getData('unique_views') ?></td>
                </tr>
                <tr  class="even pointer ">
                    <td class="a-left "><?php echo $this->__('Opens') ?></td>
                    <td class="a-left last " style="width:20%; text-align: center;"><?php echo $campaign->getData('views') ?></td>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" id="storeGrid_table" class="data" style="margin-left:2%; width:49%; float:left">
            <thead>
                <tr class="headings">
                    <th class=" no-link last" colspan="2"><span class="nobr"><?php echo $this->__('Metrics') ?></span></th>
                </tr>
            </thead>
            <tbody id="">

                <tr  class="even pointer ">
                    <td class="a-left "><?php echo $this->__('Unique clickthroughs') ?></td>
                    <td class="a-left last " style="width:20%; text-align: center;"><?php echo $campaign->getData('unique_clicks') ?></td>
                </tr>
                <tr  class="even pointer ">
                    <td class="a-left "><?php echo $this->__('Clickthroughs') ?></td>
                    <td class="a-left last " style="width:20%; text-align: center;"><?php echo $campaign->getData('clicks') ?></td>
                </tr>
                <tr  class="even pointer ">
                    <td class="a-left "><?php echo $this->__('Clickthroughs Rate') ?></td>
                    <td class="a-left last " style="width:20%; text-align: center;"><?php echo round($campaign->getData('clicks') * 100 / $campaign->getData('views'), 1) ?> %</td>
                </tr>
                <tr  class="even pointer ">
                    <td class="a-left "><?php echo $this->__('Opt-outs') ?></td>
                    <td class="a-left last " style="width:20%; text-align: center;"><?php echo $campaign->getData('unsubscribes') ?></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clear" style="height:10px; clear: both"></div>
    <div class="grid">
        <table cellspacing="0" id="storeGrid_table" class="data">
            <thead>
                <tr class="headings">
                    <th class=" no-link"><span class="nobr"><?php echo $this->__('Engagement') ?></span></th>
                    <th class=" no-link last"><span class="nobr"><?php echo $this->__('Outgoing') ?></span></th>
                </tr>
            </thead>
            <tbody id="">
                <tr  class="  ">
                    <td class="a-left ">
                        <script type="text/javascript">
                            google.load("visualization", "1", {packages: ["corechart"]});
                            google.setOnLoadCallback(drawChart);
                            function drawChart() {
                                var data = google.visualization.arrayToDataTable([
                                    ['Conv', 'Value'],
                                    ['Opens', <?php echo $campaign->getData('unique_views') ?>],
                                    ['Unopens', <?php echo $campaign->getData('sent') - $campaign->getData('unique_views') ?>]
                                ]);
                                var options = {
                                    colors: ['#e0440e', '#f3b49f']
                                };

                                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                                chart.draw(data, options);
                            }
                        </script>
                        <div id="piechart" style="width: 300px; height: 250px;"></div>

                    </td>
                    <td class="a-left last ">

                        <script type="text/javascript">
                            google.load("visualization", "1", {packages: ["corechart"]});
                            google.setOnLoadCallback(drawChart);
                            function drawChart() {
                                var data = google.visualization.arrayToDataTable([
                                    ['Conv', 'Value'],
                                    ['No Conversions', <?php echo (int) $campaign->getData('sent') - $campaign->getData('conversions_number') ?>],
                                    ['Conversions', <?php echo (int) $campaign->getData('conversions_number') ?>]
                                ]);
                                var options = {
                                    colors: ['#e0440e', '#f3b49f']
                                };


                                var chart = new google.visualization.PieChart(document.getElementById('piechartc'));
                                chart.draw(data, options);
                            }
                        </script>
                        <div id="piechartc" style="width: 300px; height: 250px;"></div>

                    </td>
                </tr>

            </tbody>
        </table>
    </div>
<?php else: ?>
    <p><?php echo $this->__('No Data') ?></p>
<?php endif;