<?php
/**
 * Licentia Nuntius - Advanced Email Marketing Automation for Magento
 *
 * NOTICE OF LICENSE
 * This source file is subject to the Creative Commons Attribution-NonCommercial 4.0 International
 * It is available through the world-wide-web at this URL:
 * http://creativecommons.org/licenses/by-nc/4.0/
 *
 * @title      Advanced Email Marketing Automation
 * @category   Marketing
 * @package    Licentia
 * @author     Bento Vilas Boas <bento@licentia.pt>
 * @copyright  Copyright (c) 2012 Licentia - http://licentia.pt
 * @license    Creative Commons Attribution-NonCommercial 4.0 International
 */
$stats = Mage::registry('current_stats');
$report = Mage::registry('current_report');
$campaign = Mage::registry('current_report_campaign');

$c = $stats->getStats($campaign->getId(), 'country');

$jsonCountries = Zend_Json::encode($c);
$cities = $stats->getCities($campaign->getId());
array_shift($cities);
?>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<div class="grid">
    <table cellspacing="0" id="storeGrid_table" class="data">
        <thead>
            <tr class="headings">
                <th class=" no-link last"><span class="nobr"><?php echo $this->__('Countries') ?></span></th>
            </tr>
        </thead>
        <tbody id="">
            <tr>
                <td class="last"  style="text-align:center">
                    <?php if (count($c) > 1): ?>
                        <script type="text/javascript">
                            var viewport = document.viewport.getDimensions();
                            var width = viewport.width;
                            google.load("visualization", "1", {packages: ["corechart"]});
                            google.setOnLoadCallback(drawChart);
                            function drawChart() {
                                var data = google.visualization.arrayToDataTable(<?php echo $jsonCountries ?>);
                                var options = {
                                    width: (width - 300),
                                    fontSize: 11,
                                    colors: ['#e0440e', '#f3b49f'],
                                    height: data.getNumberOfRows() * 30 + 80,
                                    chartArea: {
                                        height: data.getNumberOfRows() * 30,
                                        width: '70%'
                                    }, legend: {position: 'top', textStyle: {color: 'red', fontSize: 12}}
                                };

                                var chart = new google.visualization.BarChart(document.getElementById('chart_countries'));
                                chart.draw(data, options);
                            }
                        </script>
                        <div id="chart_countries" ></div>
                    <?php else: ?>
                        <p><?php echo $this->__('No Data') ?></p>
                    <?php endif; ?>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="grid">
    <table cellspacing="0" id="storeGrid_table" class="data">
        <thead>
            <tr class="headings">
                <th class=" no-link last"><span class="nobr"><?php echo $this->__('Country') ?></span></th>
                <th class=" no-link last"><span class="nobr"><?php echo $this->__('City') ?></span></th>
                <th class=" no-link last"><span class="nobr"><?php echo $this->__('Views') ?></span></th>
                <th class=" no-link last"><span class="nobr"><?php echo $this->__('Clicks') ?></span></th>
            </tr>
        </thead>
        <tbody id="">
            <?php foreach ($cities as $city): ?>
                <tr>
                    <td class="last"  style="text-align:left"><?php echo $city[0] ?></td>
                    <td class="last"  style="text-align:left"><?php echo $city[1] ?></td>
                    <td class="last"  style="text-align:center"><?php echo $city[2] ?></td>
                    <td class="last"  style="text-align:center"><?php echo $city[3] ?></td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>