<div class="entry-edit">
    <div class="entry-edit-head"><h4 class="icon-head head-customer-sales-statistics"><?php echo $this->__('Customer Segments') ?></h4></div>
    <div class="grid">
        <table cellspacing="0" class="data">
            <thead>
                <tr class="headings">
                    <th><?php echo $this->__('Name') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($this->getCustomerSegments() as $segment): ?>
                    <tr>
                        <td><?php echo $this->getSegmentName($segment->getSegmentId()); ?></td>
                    </tr>
                <?php endforeach; ?>
                <?php if ($this->getCustomerSegments()->count() == 0): ?>
                    <tr>
                        <td><?php echo $this->__('No Data') ?></td>
                    </tr>
                <?php endif; ?>
            </tbody>
        </table>
    </div>
</div>
<div class="clear"></div><br />