<div class="grid">
    <table cellspacing="0" id="storeGrid_table" class="data">
        <thead>
            <tr class="headings">
                <th class=" no-link" style="width:200px;"><span class="nobr"><?php echo Mage::helper('stella')->__('Variable') ?></span></th>
                <th class=" no-link"><span class="nobr"><?php echo Mage::helper('stella')->__('Value') ?></span></th>
            </tr>
        </thead>
        <tbody id="">
            <tr>
                <td class="a-right">s</td>
                <td class="a-left"><?php echo Mage::helper('stella')->__('Average Order Amount') ?></td>
            </tr>
            <tr>
                <td class="a-right">c</td>
                <td class="a-left"><?php echo Mage::helper('stella')->__('Average Number of Orders') ?></td>
            </tr>
            <tr>
                <td class="a-right">a</td>
                <td class="a-left"><?php echo Mage::helper('stella')->__('Cycle Customer Value Average') ?></td>
            </tr>
            <tr>
                <td class="a-right">t</td>
                <td class="a-left"><?php echo Mage::helper('stella')->__('Average Customer Lifespan') ?></td>
            </tr>
            <tr>
                <td class="a-right">r</td>
                <td class="a-left"><?php echo Mage::helper('stella')->__('Customer Retention Rate') ?></td>
            </tr>
            <tr>
                <td class="a-right">p</td>
                <td class="a-left"><?php echo Mage::helper('stella')->__('Profit per Customer') ?></td>
            </tr>
            <tr>
                <td class="a-right">i</td>
                <td class="a-left"><?php echo Mage::helper('stella')->__('Rate of Discount') ?></td>
            </tr>
            <tr>
                <td class="a-right">m</td>
                <td class="a-left"><?php echo Mage::helper('stella')->__('Average Margin per Customer Lifespan') ?></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="grid">
    <table cellspacing="0" id="storeGrid_table" class="data">
        <thead>
            <tr class="headings">
                <th class=" no-link" style="width:200px;"><span class="nobr"><?php echo Mage::helper('stella')->__('Allowed Mathematical Symbols') ?></span></th>
                <th class=" no-link"><span class="nobr"><?php echo Mage::helper('stella')->__('Meaning') ?></span></th>
            </tr>
        </thead>
        <tbody id="">
            <tr>
                <td class="a-right">+</td>
                <td class="a-left"><?php echo Mage::helper('stella')->__('Plus') ?></td>
            </tr>
            <tr>
                <td class="a-right">-</td>
                <td class="a-left"><?php echo Mage::helper('stella')->__('Minus') ?></td>
            </tr>
            <tr>
                <td class="a-right">*</td>
                <td class="a-left"><?php echo Mage::helper('stella')->__('Multiply') ?></td>
            </tr>
            <tr>
                <td class="a-right">/</td>
                <td class="a-left"><?php echo Mage::helper('stella')->__('Division') ?></td>
            </tr>
            <tr>
                <td class="a-right">()</td>
                <td class="a-left"><?php echo Mage::helper('stella')->__('Parenthesis') ?></td>
            </tr>
        </tbody>
    </table>
</div>