<?php
/**
 * Licentia Fidelitas - Advanced Email and SMS Marketing Automation for E-Goi
 *
 * NOTICE OF LICENSE
 * This source file is subject to the Creative Commons Attribution-NonCommercial 4.0 International
 * It is available through the world-wide-web at this URL:
 * http://creativecommons.org/licenses/by-nc/4.0/
 *
 * @title      Advanced Email and SMS Marketing Automation
 * @category   Marketing
 * @package    Licentia
 * @author     Bento Vilas Boas <bento@licentia.pt>
 * @copyright  Copyright (c) 2012 Licentia - http://licentia.pt
 * @license    Creative Commons Attribution-NonCommercial 4.0 International
 */
?>

<?php
$data = $this->getCompany();

$version = version_compare($this->helper('fidelitas')->getCurrentVersion(), $this->helper('fidelitas')->getLastestVersion());
?>
<style type="text/css">
    th span{padding:4px;}
    .grid td{
        padding:10px;
    }
</style>
<div class="content-header">
    <h3 class="icon-head head-customer"><?php echo $this->getTitle() ?></h3>
</div>
<div class="grid" style="width:40%; float:left;">
    <table cellspacing="0" id="storeGrid_table" class="data">
        <thead>
            <tr class="headings">
                <th class=" no-link last" colspan="2"><span class="nobr"><?php echo $this->__('Account Data') ?></span></th>
            </tr>
        </thead>
        <tbody id="">
            <?php
            $i = 0;
            foreach ($data->getData() as $key => $info):

                if ($key == 'credits' || $key == 'account_id' || $key == 'cron' || $key == 'notify_user')
                    continue;
                ?>
                <tr class="<?php echo $i % 2 ? 'even' : '' ?>">
                    <td class="last" ><?php echo ucwords(str_replace('_', ' ', $key)); ?></td>
                    <td class="last" ><?php echo $info; ?></td>
                </tr>
                <?php $i++; ?>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="grid" style="width:35%; float:left; margin-left: 1%; ">

    <table cellspacing="0" id="storeGrid_table" class="data">
        <thead>
            <tr class="headings">
                <th class=" no-link last" ><span class="nobr"><?php echo $this->__('Extension News') ?></span></th>
            </tr>
        </thead>
        <tbody id="">
            <tr class="">
                <td class="last" ><?php echo $this->helper('fidelitas')->getExtensionNews(); ?></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="grid " style="width:23%; margin-left: 1%; float: right">


    <table cellspacing="0" id="storeGrid_table" class="data">
        <thead>
            <tr class="headings">
                <th class=" no-link last content-header" ><h3><?php echo $this->__('Extension Info') ?></h3></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td><?php echo $this->__('Current Version') ?>: <?php echo $this->helper('fidelitas')->getCurrentVersion(); ?> | <?php echo $this->__('Latest Version') ?>: <?php echo $this->helper('fidelitas')->getLastestVersion(); ?></td>
            </tr>
            <?php if ($version == -1): ?>
                <tr>
                    <td style="background-color:red; font-weight: bold;  color: white; "><?php echo $this->__('You are running an outdated version of this extension. Please update as soon as possible.') ?></td>
                </tr>
            <?php endif; ?>
            <?php if ($version == 0): ?>
                <tr>
                    <td style="background-color:green; color: white; "><?php echo $this->__('You are running the latest version of this extension.') ?></td>
                </tr>
            <?php endif; ?>
        </tbody>
    </table>

    <table cellspacing="0" style="margin-top:10px;" id="storeGrid_table" class="data">
        <tbody>
        <thead>
            <tr class="headings">
                <th class=" no-link last" colspan="2"><span class="nobr"><?php echo $this->__('Informations/Requests') ?></span></th>
            </tr>
        </thead>
        <tr class="even">
            <td><?php echo $this->__('Click <a href="%s">here</a> to submit a bug report or an information request', $this->getUrl('*/*/support')) ?></td>
        </tr>
        </tbody>
    </table>


    <table cellspacing="0" style="margin-top:10px;" id="storeGrid_table" class="data">
        <tbody>
        <thead>
            <tr class="headings">
                <th class=" no-link last" colspan="2"><span class="nobr"><?php echo $this->__('Sync Data') ?></span></th>
            </tr>
        </thead>
        <tr class="even">
            <td><a href="<?php echo $this->getUrl('*/*/sync'); ?>"><?php echo $this->__('Click here to sync Mage/E-Goi data now.') ?> </a><em><?php echo $this->__('This proccess may take a few minutes') ?></em></td>
        </tr>

        </tbody>
    </table>
    <table cellspacing="0" style="margin-top:10px;" id="storeGrid_table" class="data">
        <tbody>
        <thead>
            <tr class="headings">
                <th class=" no-link last" colspan="2"><span class="nobr"><?php echo $this->__('Clear Data') ?></span></th>
            </tr>
        </thead>
        <tr class="even">
            <td><a onclick="if(!confirm('Are you sure?')){return false;}" href="<?php echo $this->getUrl('*/*/clear'); ?>"><?php echo $this->__('Click here to clear all your data and disconnect from E-Goi') ?></td>
        </tr>

        </tbody>
    </table>
    <table cellspacing="0" style="margin-top:10px;" id="storeGrid_table" class="data">
        <tbody>
        <thead>
            <tr class="headings">
                <th class=" no-link last" colspan="2"><span class="nobr"><?php echo $this->__('Brougth to you by: Licentia.pt') ?></span></th>
            </tr>
        </thead>
        <tr>
            <td><a target="_blank" href="http://licentia.pt/magento-extension"><img style="width:100%;" src="<?php echo $this->getSkinUrl($this->__('images/fidelitas/logo.png')) ?>" alt="<?php echo $this->__('Licentia Logo') ?>" /></a></td>
        </tr>
        </tbody>
    </table>
</div>
