<?php
/**
 * Licentia Fructus - InvoiceExpress Integration
 *
 * NOTICE OF LICENSE
 * This source file is subject to the license:
 * Creative Commons Attribution-NonCommercial 4.0 International
 * It is available through the world-wide-web at this URL:
 * http://creativecommons.org/licenses/by-nc/4.0/
 *
 * @title      InvoiceExpress Integration
 * @category   Marketing
 * @package    Licentia
 * @author     Bento Vilas Boas <bento@licentia.pt>
 * @copyright  Copyright (c) 2014 Licentia - http://licentia.pt
 * @license    Creative Commons Attribution-NonCommercial 4.0 International
 */
$type = 'invoice';

$document = Mage::registry('current_invoice') ? Mage::registry('current_invoice') : Mage::registry('current_creditmemo');

if (Mage::registry('current_creditmemo')) {
    $type = 'creditmemo';
}

if (Mage::getStoreConfig('general/store_information/merchant_country', $document->getStoreId()) == 'PT') {

    $items = $document->getAllItems();
    foreach ($items as $item) {
        if ($item->getData('base_tax_amount') == 0) {
            $taxExemption = true;
        }
        $last = $item->getSku();
    }
    if ($type == 'invoice') {
        if ((int) $document->getData('base_shipping_tax_amount') == 0 &&
                count($document->getOrder()->getInvoiceCollection()) == 1) {
            $taxExemption = true;
        }
    }

    if ($this->getItem()->getSku() == $last && isset($taxExemption)) {

        $options = Mage::helper('fructus')->getExemptionsOptions();
        $default = Mage::getStoreConfig('fructus/tax/default_exemption', $document->getStoreId());
        ?>
        <tr>
            <td colspan="12" style="text-align:right; background-color: orange;" >Motivo Isenção IVA de :
                <select class="required-entry select" name="tax-exemption" id="tax-exemption">
                    <?php foreach ($options as $key => $value): ?>
                        <option <?php
                        if ($default == $key) {
                            echo " selected ";
                        }
                        ?> value="<?php echo $key ?>"><?php echo $value ?></option>
                        <?php endforeach; ?>
                </select>
            </td>
        </tr>
        <?php
    }
}
if ($type == 'creditmemo') {
    ?>
    <script type="text/javascript">
        Event.observe(window, "load", function() {
            $('adjustment_negative').up('tr').hide();
            $('adjustment_positive').up('tr').hide();
        });
        $('adjustment_negative').up('tr').hide();
        $('adjustment_positive').up('tr').hide();
    </script>
    <?php
}
