<?php
/**
 * Licentia Nuntius - Advanced Email Marketing Automation for Magento
 *
 * NOTICE OF LICENSE
 * This source file is subject to the Creative Commons Attribution-NonCommercial 4.0 International
 * It is available through the world-wide-web at this URL:
 * http://creativecommons.org/licenses/by-nc/4.0/
 *
 * @title      Advanced Email Marketing Automation
 * @category   Marketing
 * @package    Licentia
 * @author     Bento Vilas Boas <bento@licentia.pt>
 * @copyright  Copyright (c) 2012 Licentia - http://licentia.pt
 * @license    Creative Commons Attribution-NonCommercial 4.0 International
 */

?>

<form action="<?php echo $this->getUrl('*/*/defaultTemplate') ?>" method="post" id="email_template_load_form">
    <?php echo $this->getBlockHtml('formkey') ?>
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend">
                <?php echo Mage::helper('adminhtml')->__('Load template') ?>
            </h4>
            <div class="form-buttons"></div>
        </div>
        <div class="fieldset">
            <table class="form-list" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="label">
                            <label for="template_select">
                                <?php echo Mage::helper('nuntius')->__('Template') ?>
                                <span class="required">*</span>
                            </label>
                        </td>
                        <td class="value">
                            <?php if (count($this->getTemplateOptions()) == 0): ?>
                                <?php echo Mage::helper('nuntius')->__("You don't have any template") ?>
                            <?php else: ?>
                                <select id="template_select" name="code" class="select required-entry">

                                    <?php foreach ($this->getTemplateOptions() as $_option): ?>
                                        <option value="<?php echo $_option['value'] ?>"><?php echo $_option['label'] ?></option>
                                    <?php endforeach; ?>
                                </select>

                            <?php endif; ?>
                        </td>
                        <td></td>
                    </tr>
                    <?php if (count($this->getTemplateOptions()) > 0): ?>
                        <tr>
                            <td class="label">
                                <label>&nbsp;</label>
                            </td>
                            <td class="value">
                                <button style="" onclick="templateControl.load();" class="scalable save" type="button" id="id_7c9905e3fea50b3b79cd583f77e15029"><span>Load Template</span></button>
                            </td>
                            <td></td>
                        </tr>
                    <?php endif; ?>
                </tbody>
            </table>
        </div>
    </div>
</form>
<?php echo $this->getBlockHtml('formkey') ?>
<?php echo $this->getFormHtml() ?>

<script type="text/javascript">
    //<![CDATA[
    var templateControl = {
        load: function() {

            new Ajax.Request($('email_template_load_form').action, {
                parameters: Form.serialize($('email_template_load_form'), true),
                area: $('email_template_load_form'),
                onComplete: function (transport) {
                    if (transport.responseText.isJSON()) {
                        var fields = $H(transport.responseText.evalJSON());
                        fields.each(function(pair) {
                            if ($(pair.key)) {
                                $(pair.key).value = pair.value.strip();
                                if(tinyMCE.activeEditor){
                                    tinyMCE.activeEditor.setContent(pair.value.strip());
                                }
                            }
                        }.bind(this));
                    }
                }.bind(this)
            });
        }

    };
    //]]>
</script>
