<div class="entry-edit">
    <div class="entry-edit-head"><h4 class="icon-head head-customer-sales-statistics"><?php echo $this->__('Customer Reports') ?></h4> [ <?php echo $this->__('Last Update: ') . Mage::helper('core')->formatDate($this->getCustomer()->getReportUpdate()) ?>] - <a href="<?php echo $this->getUrl('*/stella_reports/updatecustomer', array('id' => $this->getCustomer()->getId())) ?>">(<?php echo $this->__('Update') ?>)</a></div>
    <div class="grid">
        <table cellspacing="0" class="data">
            <thead>
                <tr class="headings">
                    <th><?php echo $this->__('Name') ?></th>
                    <th><?php echo $this->getEquations()->getData('name_1') ?></th>
                    <th><?php echo $this->getEquations()->getData('name_2') ?></th>
                    <th><?php echo $this->getEquations()->getData('name_3') ?></th>
                    <th><?php echo $this->__('Equations Average') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($this->getCustomerReports() as $report): ?>
                    <tr>
                        <td><?php echo $report->getReportName(); ?></td>
                        <td><?php echo Mage::helper('core')->formatCurrency($report->getData('equation_1')); ?></td>
                        <td><?php echo Mage::helper('core')->formatCurrency($report->getData('equation_2')); ?></td>
                        <td><?php echo Mage::helper('core')->formatCurrency($report->getData('equation_3')); ?></td>
                        <td><?php echo Mage::helper('core')->formatCurrency($report->getData('equation_average')); ?></td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
<div class="clear"></div><br />
<div class="entry-edit">
    <div class="entry-edit-head"><h4 class="icon-head head-customer-sales-statistics"><?php echo $this->__('Customer Statistics') ?></h4></div>
    <div class="grid">
        <table cellspacing="0" class="data">
            <thead>
                <tr class="headings">
                    <th><?php echo $this->__('Invoiced') ?></th>
                    <th><?php echo $this->__('Discounts') ?></th>
                    <th><?php echo $this->__('Cost Services') ?></th>
                    <th><?php echo $this->__('Cost Goods') ?></th>
                    <th><?php echo $this->__('Taxes') ?></th>
                    <th><?php echo $this->__('Profit') ?></th>
                    <th><?php echo $this->__('Order Average') ?></th>
                    <th><?php echo $this->__('Number Orders') ?></th>
                    <th><?php echo $this->__('First Order') ?></th>
                    <th><?php echo $this->__('Last Order') ?></th>
                    <th><?php echo $this->__('AVG Order Interval') ?></th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td><?php echo Mage::helper('core')->formatCurrency($this->getCustomerInfo()->getData('amount')); ?></td>
                    <td><?php echo Mage::helper('core')->formatCurrency($this->getCustomerInfo()->getData('discount')); ?></td>
                    <td><?php echo Mage::helper('core')->formatCurrency($this->getCustomerInfo()->getData('cost_services')); ?></td>
                    <td><?php echo Mage::helper('core')->formatCurrency($this->getCustomerInfo()->getData('cost_goods')); ?></td>
                    <td><?php echo Mage::helper('core')->formatCurrency($this->getCustomerInfo()->getData('taxes')); ?></td>
                    <td><?php echo Mage::helper('core')->formatCurrency($this->getCustomerInfo()->getData('profit')); ?></td>
                    <td><?php echo Mage::helper('core')->formatCurrency($this->getCustomerInfo()->getData('order_average')); ?></td>
                    <td><?php echo $this->getCustomerInfo()->getData('number_orders'); ?></td>
                    <td><?php echo Mage::helper('core')->formatDate($this->getCustomerInfo()->getData('first_order')); ?></td>
                    <td><?php echo Mage::helper('core')->formatDate($this->getCustomerInfo()->getData('last_order')); ?></td>
                    <td><?php echo $this->getCustomerInfo()->getData('order_average_days'); ?></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="clear"></div><br />
<div class="entry-edit">
    <div class="entry-edit-head"><h4 class="icon-head head-customer-sales-statistics"><?php echo $this->__('Customer Statistics Cycle') ?></h4></div>
    <div class="grid">
        <table cellspacing="0" class="data">
            <thead>
                <tr class="headings">
                    <th><?php echo $this->__('Invoiced') ?></th>
                    <th><?php echo $this->__('Number Orders') ?></th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td><?php echo Mage::helper('core')->formatCurrency($this->getCustomerInfo()->getData('amount_cycle')); ?></td>
                    <td><?php echo $this->getCustomerInfo()->getData('number_orders_cycle'); ?></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="clear"></div><br />
